* {
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    /*margin: 0 auto;*/
    font-family: Arial, Arial Black;
}

#main {
    font-size: .7em;
}

ul {
    list-style-type: none;
}

a, a:hover {
    color: #86945a;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid #b9b9b9;
}

input[type="text"].filled {
	background: #ddd;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clr {
    clear: both;
}

.wide {
	width: 100%;
}

.time {
    color: #ffa200;
}

.gray {
    color: #b9b9b9;
}

.darkgray {
    color: #555;
}

.darkorange {
    color: #ffbf00;
}

button.gold {
	background: #E0B91B;
	color: white;
	border-radius: 6px;
	border: 1px solid #b9b9b9;
	height: 25px;
}

h2.banner {
	border: 1px solid #b9b9b9;
	background: #fff;
	letter-spacing: .3em;
	font-weight: normal;
	font-size: .9em;
	text-transform: uppercase;
	padding: 4px;
	float: left;
	z-index: 1;
	position: relative;
}

h3 {
	font-weight: normal;
	color: #b9b9b9;
	text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    letter-spacing: .4em;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
}

h3>span {
	text-transform: lowercase;
	padding: 0;
	font-weight: normal;
	letter-spacing: 0;
	font-size: .8em;
}

h3 button {
	width: 15px;
	height: 20px;
}
