/* Slideshow */
#slide {
    width: 585px;
    height: 375px;
}

#slide h2 {
	top: -5px;
	left: -10px;
}

div#img {
	position: relative;
	top: -20px;
	width: 590px;
	height: 320px;
	overflow: hidden;
}

div#img p {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 20px;
	background: rgba(50,50,50,.4);
}

/* slide nav */

#slide ul li {
	float: left;
	font-size: .8em;
	width: 120px;
	height: 40px;
	text-align: center;
}

#slide li a {
	color: inherit;
}

/* At-a-glance */
#glance {
    background: #e9e9e9;
    width: 300px;
    height: 375px;
    border: 1px solid #b9b9b9;
    border-bottom: none;
}

#glance h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0;
    letter-spacing: .4em;
    border: none;
    font-weight: normal;
}

#glance h4 {
    font-size: 1.1em;
    padding-top: 10px;
}

#glance hr {
    border: none;
    border-bottom: 1px solid #b9b9b9;
}

#glance div, #glance ol {
    padding: 15px;
}

#glance ol {
    padding-top: 0px;
}

#glance ul {
    padding: 5px 0 0 5px;
}
#glance ul li {
    float: left;
}
#glance ul button {
    float: right;
    height: 25px;
    width: 60px;
}
#fund {
    font-size: 1.2em;
    display: block;
    float: right;
}
#glance form input {
    width: 75px;
    padding: 0 5px;
}
#glance form input[type="text"] {
    color: #aaa;
    font-style: italic;
    text-align: right;
}

/** 3-part columns **/

#cols {
    width: 100%;
    float: left;
    border: none !important;
}

.col>ul, .col>ol, .col>div {
    padding: 10px 15px;
}

.col>ol {
    margin-left: 15px;
}

.col>div>p {
    padding: 5px 0;
}

.colhd {
    font-weight: bold;
    font-size: 1.3em;
}

#cols h4 {
    color: #b9b9b9;
}

#cols h4 {
    text-align: center;
    margin-top: 10px;
}

#cols hr {
    border: none;
    border-bottom: 1px solid #ddd;
}

.one hr, .two hr {
    margin-left: -15px;
    margin-top: 10px;
}

.three {
    width: 200px;
}

.two {
	border-left: 1px solid #b9b9b9;
	border-right: 1px solid #b9b9b9;
}

.three button {
    width: 115px;
    margin: 0 auto;
}

.three li>a+p {
    text-align: center;
}

.col ul li {
    padding-bottom: 10px;
}

.col ul>li>form>input {
    width: 100px;
}
.three ul>li img {
    padding-right: 10px;
}

li.photo ul li {
    float: left;
    padding: 0;
}

li.photo ul p {
    padding-top: 10px;
}

/* first column */

.one {
    width: 250px;
}
