body{
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
   width:1010px;
}

img.small-logo{
   height: 25px;
}
.civ-navbar{
   max-height:50px;
   margin-bottom:0px;
}

.civ-navbar .container .brand{
   padding-bottom: 0px;
}
hr.civ-topbar-hr{
   border: 1px solid #0ca900;
   margin-top: 0px;
   margin-bottom: 20px;
}

.section-wrapper {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.section-wrapper .section-header {
  background: whiteSmoke;
  border-bottom: 1px solid #ddd;
  height: 50px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-wrapper .activity {
  padding: 10px;
}
.section-wrapper .browse {
  padding: 10px;
}
.section-wrapper hr {
  border: 1px solid #ddd;
  margin-top: 0px;
  margin-bottom: 10px;
}
.section-wrapper h3 {
  text-align: center;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
   background-color:#075D00;
   border-radius: 20px;
   color:white;
   padding-left:10px;
   padding-right:10px;
}

.nav-pills > li > a, .nav-pills > li > a:hover {
   background-color:none;
   border-radius: 20px;
   color:#075D00;
   padding-left:8px;
   padding-right:8px;
}

.navbar .nav > li > a{
   color: #075D00;
}

.navbar .nav > li > a:hover{
   color: #075D00;
}

.avatar{
   border-radius: 50px;
   height: 70px;
}

.small-avatar{
   height: 25px;
}

a, a:hover{
   color: #D15D00;
}

a.name{
   color: #530032;
}

/* --- Container configuration ---------------------------------------------------------- */
.viewport {
    float: left;
    margin: 0 9px 9px 0;
    overflow: hidden;
    position: relative;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
}

.viewport a img {
    left: -20px;
    top: -20px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 3.0em;
    font-weight: bold;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .dark-background em {
        color: #ccc;
    }
