img.small-logo{
   height: 25px;
}
.civ-navbar{
   max-height:50px;
   margin-bottom:0px;
}

.civ-navbar .container .brand{
   padding-bottom: 0px;
}
hr.civ-topbar-hr{
   border: 1px solid #0ca900;
   margin-top: 0px;
   margin-bottom: 20px;
}