/* comments */
#comments {width: 100%;}

#comments form#add_comment {
	padding: 20px;
	width: 90%;
}

#comments form button[type="submit"] {
	width: 70px;
}

#comments #add_comment button[type="submit"] {
	margin-right: -7px;
}

#comments form#add_comment textarea {
	width: 100%;
	height: 60px;
	max-width: 105%;
	max-height: 300px;
}

#comments form#add_comment button[type="submit"] {
	margin-top: 10px;
}

#featuredComments {padding-top: 4px;}
#featuredComments li {
	float: left;
	padding-top: 15px;
}

/* comment data - note: some styling done in js/comment.js */
.comment_data {
	padding-top: 5px;
}
.comment_data p {
	float:left;
}
.comment_data p+p {
	padding-left: 4px;
}
.thumbs {width: 45px;}
.thumbs a {
	float: left;
	text-indent:-9999px;
	height: 17px;
	width: 14px;
	position: relative;
	margin: 0 5px;
}
.thumbs.up a {
	background: url('../images/thumb_up_grey.png');
	top: 1px;
}
.thumbs.up a:hover {
	background: url('../images/thumb_up_green.gif');
}

.thumbs.down a {
	background: url('../images/thumb_down_grey.png');
	top: -1px;
}
.thumbs.down a:hover {
	background: url('../images/thumb_down_red.gif');
}

/* flag comment + create reply */

.content {
	background: #d5d5d5;
	height: 0;
	width: 95%;
	/* padding: 10px; */
	margin-top: 10px;
	display: none;
}

.content_feedback {
	width: 80%;
	min-width: 80%;
	max-width: 80%;
	height: 30px;
	min-height: 30px;
	float: left;
	margin-right: 10px;
}

a.flag:before, a.reply:before {
	content: '| ';
}

/* replies */

.comment_reply {
	background: #e5e5e5;
	margin: 10px 0 0 10px;
	padding: 10px;
}
.comment_reply {
	width: 95%;
}
