body {
    background: none repeat scroll 0 0 #f9f8f8;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#body_wrapper {
    margin-top:10px;
    margin-bottom:10px;
    background : white;
    position : relative;
    min-height:100px;
    position:relative;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    float:left;
}

#header_wrapper{
    background: #2c441b;
    min-height: 92px;
    position:relative;
}

#body_top_half, #body_bottom_half {
    float:left;
    margin-top:30px;
    text-align:left;
    margin-left:0px;
}

#right_content {
    float:left;
    text-align: justify;
}

#right_content h3 {
    font-size: 25px;
    font-family: Helvetica,sans-serif;
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    line-height:1.3;
}

#right_content h4 {
    font-size: 20px;
    font-family: Helvetica,sans-serif;
    margin-top:0px;
    margin-bottom:5px;
    font-weight:bold;
    line-height:1.3;
}


#right_content p,table {
    font-size:14px;
    font-family: Helvetica,sans-serif;
    margin-top:15px;
}

#right_content li {
    font-size:14px;
    font-family: Helvetica,sans-serif;
}

#right_content a {
    color:black;
}
#header_container {
    background:url('../images/header_bg.png');
    height: 92px;
}

#login_form {
    height : 80px;
    float : right;
    margin-top:10px;
}

.form_label {
    width: 100%;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 20px;
    color : white;
    font-size :12px;
}

.form_input {
    background: none repeat scroll 0 0 whiteSmoke;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: black;
    float: left;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 15px;
    padding: 4px 4px;
    width: 90%;
    margin-left: 20px;
}

.formsubmit {
display: block;
margin-top: 24px;
margin-bottom: 10px;
margin-left: 20px;
float: left;
height: 25px;
color: black;
border: 1px solid black;
cursor: pointer;
width: 100px;
}
.form_check {
    display:block;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    background: none repeat scroll 0 0 whiteSmoke;
}

#footer_wrapper {
    background: #243618;
    min-height: 180px;
    margin-bottom:0px;
    float: left;
    width : 100%;
}
#footer_container {
    background:url('../images/footer_bg.png');
    min-height: 184px;
    padding-left : 50px;
}

.forgot_password {
    margin-left: 17px;
    color: white;
    display: block;
    font-size: 12px;
    width: 138px;
    margin-top: 8px;
    float: left;
}

#footer_block {
    text-align: left;
    margin-top : 15px;
    float :left;
}
 
#footer_block h3 {
    color : white;
    font-family: 'Questrial';
}

#footer_block_content {
    height:100px;
    float :left;
    padding:0px;
    margin-left:0px;
}

#footer_block_content a {
    display:block;
    float:left;
    width:100%;
}

#body_header {
    background: #cee575;
    text-align:right;
    margin-top:25px;
    float:left;
    clear:both;
    margin-left:0px;
    padding-right:10px;
}

#body_container {
    position : relative;
    min-height:150px;
}

#body_header h3 {
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Questrial',Geneva,Arial,Helvetica,sans-serif;
    font-weight:bold;
}

#left_navigbar, #left_content{
    float: left;
    text-align:left;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 40px;
    min-height:100px;
}

#left_navigbar a {
    display:block;
    width:100%;
    color:#87a96b;
}

#left_navigbar .navig_highlight {
    color: black;
}


#split_content {
    border-color: black;
    border-right: 1px dotted #BDC6D7;
    border-width: 1px;
    margin-top: 25px;
    margin-left: 0px;
    float:left;
    height:350px;
    position:relative;
    padding:0px;
    margin-bottom:10px;

}

#split_content h4 {
    font-size:14px;
    line-height:1.5;
}

#split_content p {
    color:#b7b6b6;
    margin-top:0px;
    margin-bottom:5px;
}

#body_bottom_capsule {
    margin:0px;
    padding:0px;
}


.about_profile_img {
    display:block;
    float:left;
    margin-top:5px;
    padding:0px;
    height:100px;
    width:100px;
}

#about_profile {
    margin-top: 20px;
    margin-bottom: 20px;
}

#about_profile_text {
    display:block;
    float:left;
    margin:0px;
    margin-left:20px;
    padding:0px;
    width:500px;
    text-align : left;
    color : #b7b6b6;
    font-size: 14px;
}

.features_img {
    display:block;
    float:right;
    margin-top:5px;
    padding:0px;
    width:350px;
}

#features {
    margin-top: 20px;
    margin-bottom: 20px;
}

#features_text {
    display:block;
    float:left;
    margin:0px;
    margin-left:20px;
    padding:0px;
    width:300px;
    text-align : left;
    color : #b7b6b6;
    font-size: 14px;
}

