h2.surveyTitle { 
    float: right;
} 
h2.surveyTitle span {
    font-size: 14px; 
    font-weight: normal; 
}
h4 span {
    font-size: 0.7em; 
    font-weight: normal; 
    padding-left: 0.2em;
}

.dc-data-count2 .filter-count {
    color: #3182bd;
    font-weight: bold;
}
.dc-data-count2 .total-count {
    color: #3182bd;
    font-weight: bold;
}

/*
.dc-chart rect.bar {
    fill: aquamarine;
}
.dc-chart path.line {
    stroke-width: 3px;
    stroke-opacity: 1;
    stroke: aquamarine;
}
*/

.dc-chart g.row text {
    font-size: 0.7em !important;
    font: arial !important;

}

.dc-chart .pie-slice {
    fill: black !important;
    font-size: 0.8em !important;
}

.table {
    width: 60%;
}