/* all, unread, compose new message, search */

#pre-bar {
	padding-top: 20px;
}

#pre-bar>a {
	line-height: 30px;
	margin-left: 5%;
	font-weight: bold;
}
#pre-bar>a.current {
	color: #454545;
}
#pre-bar>a:hover {
	color: #454545;
	text-decoration: none;
}
#pre-bar>a+a {
	margin-left: 10%;
}

#pre-bar>button {
	margin-right: 20px;
	height: 25px;
	width: 140px;
	position: relative;
	top: -5px;
	font-size: 1.05em;
}

#search_inbox {
	position: relative;
}
#search_inbox:before {
	content: 'Search inbox';
	position: absolute;
	left: 0;
	top: -15px;
	z-index: 2;
	color: #b9b9b9;
}
#search_inbox input[type="text"] {
	padding: 0 0 0 5px;
	height: 20px;
	width: 260px;
}
#search_inbox button[type="submit"] {
	top: 5px;
}
/*specify width of two main divs*/
.mail.list {
	width: 350px;
}
.mail.content {
	width: 550px;
}

/*There should only be one h3 on the inbox page*/
h3 {
	border: 1px solid #b9b9b9;
}

/*styles both lists*/
.mail ul {
	border: 1px solid #b9b9b9;
	border-top: none;
	max-height: 600px;
}
.mail.list ul {
	padding-left: 10px;
}
.mail.content ul {
	border: 1px solid #b9b9b9;
	border-left: none;
}

.mail ul>li {
	border-top: 1px solid #b9b9b9;
	padding: 7px 0 7px 5px;
}
.mail ul>li:first-child {
	border: none;
}

.mail ul>li>img {
	margin-right: 10px;
}

/* styles left column */

.mail.list ul>li.read {
	background: #ececec;
}
.mail.list ul>li:hover {
	cursor: pointer;
	color: #454545;
	background: #e3efa3;
}
.mail.list ul>li.active {
	background: #ceef30;
	color: #454545;
}
.mail.list ul>li>div {
	height: 50px;
	overflow-y: hidden;
}
.mail.list ul>li>div>p:first-child {
	width: 200px;
}

.message-time {
	padding-right: 10px;
}

/* load older messages */

#load_older_messages {
	background: #e3efa3;
	font-weight: bold;
	text-align: center;
}
#load_older_messages:hover {
	cursor: pointer;
}

/** styles the message thread **/

.mail.content>ul {
	width: 550px;
}

.mail.content>ul>li {
	width: 545px;
	float: left;
}

.mail.content>ul>li>div {
	float: left;
	width: 470px;
}
.mail.content>ul>li>div>p {
	width: inherit;
}

/* reply box */
#reply {
	background: #ececec;
}

#reply textarea {
	width: 450px;
	min-width: 450px;
	max-width: 470px;
	min-height: 100px;
}

#reply button[type="submit"] {
	height: 25px;
	width: 60px;
	margin-top: 5px;
	margin-right: 12px;
}

