div#issue {
	width: inherit;
}

div#issue>hr {
	width: 98%;
	border: none;
	border-top: 1px solid #000000;
	clear: both;
}

div#issue>div {
	clear: both;
	width: inherit;
}

div#issue tr {
	border: 1px solid black;
}

div#issue table {
	width: 95%;
	margin: 0 auto;
	clear: both;
}

div#issue>ul#tabs {
	width: inherit;
	padding: 0 100px;
}
div#issue>ul#tabs li {
	line-height: 25px;
	float: left;
	width: 125px;
	height: 25px;
	text-align: center;
	margin: 0 5px;
	border: 1px solid #000000;
	border-bottom: none;
}
