/** issue home/background/discussion/leaderboard **/
.banner_div+ul.left.gray {padding-top: 20px;}
.banner_div+ul.left.gray>li {
	float: left;
	width: 120px;
	height: 40px;
	text-align: center;
}
.banner_div+ul.left.gray>li>a {color: #b9b9b9;}

/** big div with suggestion stats/leaders **/

/*ul.left.gray+div.left.clr-lft*/
#stats, #leaders {
	border-right: 1px solid #b9b9b9;
	width: 724px;
}

#table-wrapper {
	margin: 20px 40px 0 20px;
	padding-bottom: 20px;
}

#stats table {
	border: 1px solid #b9b9b9;
	border-spacing: 0;
	text-indent: 3px;
	width: 100%;
}

#stats table tr>td:first-child {
	text-align: center;
	text-indent: 0px;
}

#stats table tr>td {width: 15px;}
#stats table tr>td+td{width: 300px; border-left: 1px solid #b9b9b9;}
#stats table tr>td+td+td{width: 100px;}
#stats table tr>td+td+td{text-align: center;}
#stats table tr>td+td+td+td+td{width: 120px; text-align: left;}

#stats table th{
	border-bottom: 1px solid #b9b9b9;
	padding: 5px;
}
#stats table th {text-align: left; font-weight: normal;}
#stats table th+th {border-left: 1px solid #b9b9b9}
#stats table th+th+th {text-align: center;}
#stats table th+th+th+th+th {text-align: left;}

#stats table tr+tr>td {border-top: none; height: 20px;}
#stats table tr+tr+tr>td {border-top: 1px solid #ddd;}

#stats table tr+tr:hover {background: #dff58a;}
#stats table tr+tr:hover * {color: #454545;}

#stats table tr+tr>td img {padding-right: 7px;}

div.average {height: auto;}
.star-rating {float: none; margin: 0 auto;}

/* Leaders */

#leaders img {height: 87px; float: left; margin-right: 15px;}
#leaders h4 {font-size: 1.2em; padding-bottom: 15px;}
#leaders .me a, #leaders .me a:hover {color: #f90}
#leaders .me {list-style-type: none;}
#overall img {height: 120px;}

#leaders>div{width: 361px;}
#leaders>div {border-right: 1px solid #ddd;}
#leaders>div+div {border: 0;}
#leaders>div>div {padding: 10px 20px;}
#leaders ol {padding-left: 10px;}
#overall ol {padding: 15px 0 0 0}
#leaders ol li {list-style-type: decimal; list-style-position: inside;}

#overall>img+p {
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	padding-top: 25px;
}

#leaders>div>div+div {border-top: 1px solid #ddd;}

/* responsible for which position you show up in */
#overall .me:before {content: "13. ";}
#articles .me:before {content: "21. ";}
#comments .me:before {content: "34. ";}
#wiki .me:before {content: "55. ";}
#recruit .me:before {content: "89. ";}
#votes .me:before {content: "144. ";}
#author .me:before {content: "233. ";}

/** Top funders **/
div.left.sidebar {width: 175px;}
div.left.sidebar>ul {padding: 15px;}
div.left.sidebar>ul+ul {border-top: 1px solid #b9b9b9;}
div.left.sidebar>ul>li {padding: 2px 0;}

.funder-logo {
	border: 1px solid #b9b9b9;
	text-align: center;
	margin-bottom: 5px;
}
.funder-logo img {height: 50px;}

div.left.sidebar>ul li+li+li+li{margin-top: 10px;}
div.left.sidebar>ul li+li+li+li+li {margin-top: 3px;}
div.left.sidebar>ul li+li+li+li img {padding-right: 5px; position:relative; top:4px;}

div.left.sidebar>ul.invite.suggest.share li {margin-top: 0;}