html, body{
    background-color: #e9eaed;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 16px; 
}

a{
  text-decoration: none;
}

hr{
  margin: 20px 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 850px;
}

.page-header{
    width: 110%;
    height: 60px;
    background-color: rgba(0, 93, 40, 0.952941);
    margin: -8px -8px 20 -8px;
}

.logo.logo-lg{
  background-image: url('/images/logo_white_myriad_medlg.png');
  height: 40px;
  width: 210px;
  background-repeat: none;
}

.logo-div{
    padding-top: 9px;
    margin-left: 5%;
}

.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
  color: #999999;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well > p {
  margin-bottom: 5px;
}

.obj-listing .well.yesNoWell{
  width: 130px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding:10px;
  min-height: 95px;
}

.well.yesNoWell{
  float: right;
  margin-left: 20px;
  padding-left: 40px;
  width: 165px;
  background-color:#F5F5F5;
}

.well.yesNoWell{
  width: 130px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding:10px;
  min-height: 95px;
}

.vote-icon{
  background-size: auto 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 100%;
  float: left;
}
.vote-icon.yes-icon{
  background-image:url(/images/yes_blank.png);
}
.vote-icon.yes-icon:hover{
  background-image:url(/images/yes_hover.png);
}
.vote-icon.no-icon{
  background-image:url(/images/no_blank.png);
}
.vote-icon.no-icon:hover{
  background-image:url(/images/no_hover.png);
}

.totalVotesWrapper{
  margin-top: 20px;
  text-align: center;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}


[class*="span"] {
  float: left;
}


.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

.i-photo{
  height:100px;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border-radius: 4px;
}

h4.listed-item-title{
  margin-top: 0px;
  margin-bottom: 10px;
}
.listed-item-title a{
  color: #333333;
}
.listed-item-title a:hover{
  color: #005d28;
}
.initiative-title{
  text-transform:uppercase;
}

.grey{
  color:grey;
}

.centered{
    text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.thumbnail.flag{
  padding: 0px;
  display: inline;
  border: none;
}

.flag.mini-flag{
  width:30px !important; 
  height: 20px;
}

.flag.border{
  border: 1px solid #ddd;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.green{
    color:#005d28;
}
.green-hover:hover{
    color:#007733;
}

.label,
.badge {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.workshop-tag{
    margin-left:5px;
}

.green-tag, .Outdoors, .Land, .Environment, .Animals{
    background-color: #075D00;
}
.orange-tag, .orange-badge, .Arts, .Entertainment, .Sports, .Community, .Other{
    background-color: #D15D00;
}
.blue-tag, .Transportation, .Infrastructure, .Municipal, .Water{
    background-color: #3a87ad;
}
.grey-tag, .Government, .NonProfit, .Policy{
    background-color: #999999;
}
.black-tag, .Business, .Economy, .Employment, .Education, .Housing{
    background-color: #333333;
}
.red-tag, .Civil, .Health, .Safety, .Justice{
    background-color: #b94a48;
}

.horizontal-list{
  display: inline;
}

.horizontal-list> li {
  display: inline;
  margin-right: 8px; 
}

.actions{
  background-color: #F5F5F5;
  margin: 8px -19px -19px;
  border-top: 1px solid #ddd;
}

.actions-links{
  margin: 8px 19px 0;
  padding-bottom: 8px;
}

.horizontal-list.iconListing{
  margin-left: 0px;
  margin-top:15px;
  margin-bottom: 0px;
  font-size: .85em;
  font-weight: 500;
}
a.no-highlight{
  color:#333333;
}
a.no-highlight:hover{
    color: #D15D00;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.email-section{
  margin-bottom: 30px;
}

/* workshops */
.workshop-hero-image{
  height: 285px; 
  background-size: cover;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.workshop-hero{
  margin-top: 12px;
  padding: 0;
  position:relative;
}

.med-gradient-workshop{
  background: rgba(0,0,0,0.3);
  height: 285px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.link-span{
  position:absolute; 
  width:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.workshop-title-group{
  padding-left: 19px;
  position: absolute;
  z-index: 2;
  font-weight: 300;
}

h1.workshop-title{
    margin-top:15px;
    margin-bottom:20px;
}

.workshop-title a{
   color:#fff;
}

#metrics td{
  padding-left: 19px;
  vertical-align: top;
}

.workshop-metrics{
  text-transform: uppercase;
  color: grey;
  font-size: .85em;
}

.hero-bottom{
  padding: 9px 19px;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.btn-success, .btn-success {
  font-weight: 300;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00aa49;
  background-image: -moz-linear-gradient(top, #00aa49, #007733);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00aa49), to(#007733));
  background-image: -webkit-linear-gradient(top, #00aa49, #007733);
  background-image: -o-linear-gradient(top, #00aa49, #007733);
  background-image: linear-gradient(to bottom, #00aa49, #007733);
  background-repeat: repeat-x;
  border-color: #00aa49 #007733 #aa4c00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-image: -ms-linear-gradient(top, #00aa49, #007733);
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

p.description{
  margin: 0;
}
p.description:first-letter { 
  font-size:200%;
  font-weight: bold;
}

.table-obj{
  margin-top: 10px;
  width: 100%;
}
.table-obj td{
  padding: 8px;
}