h3.left.clr.wide {
	margin-top: 10px;
}

/* actual article */
iframe {
	min-height: 600px;
	border: none;
	margin: 10px 0;
}

/**stuff on bottom of article**/
.article_end {
	margin: 0 0 15px 15px;
}

/* related issues */
.related_issues {
	width: 350px;
}
.related_issues>li {
	display: inline;
}

/* i read this */
#readbutton {
	width: 130px;
}

#readbutton img {
	position: relative;
	left: -10px;
	top: 3px;
}

/*** comments, related stuff ***/
/** comments **/

#comments {
	width: 599px;
}
