#ComBar{
    background-image: none;
    background-color: red;
}

#ResBar{
    background-image: none;
    background-color: red;
}

#DisBar{
    background-image: none;
    background-color: red;
}

#SugBar{
    background-image: none;
    background-color: red;
}
