div.signup {
	width: 600px;
	margin: 0 auto;
	min-height: 350px;
	padding: 0 20px;
	border: 1px solid #363636;
	border-radius: 20px;
}

div.signup input[type=text] {
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	/*border: 1px solid #363636;*/
	box-shadow:inset 1px 1px 1px #ccc;
}

div.signup input[type=password] {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow:inset 1px 1px 1px #ccc;
}

div.signup input#email {
	width: 300px;
}

div.signup>p {
	background: #FFFFFF;
}

div.signup input {
	color: blue;
}
