<%inherit file = "/base/template.html"/>

<div class="banner_div">
    <h2 class="banner">${c.i.name}</h2>
</div>
<ul class="left gray clr">
    <li><a href="/issue/${c.p.url}">Issue Home</a></li>
    <li><a href="/issue/${c.p.url}/background">Background</a></li>
    <li><a href="/${c.p.url}/discussion}"><strong class="darkgray">Discussion</strong></a></li>
    <li><a href="/${c.p.url}/leaderboard">Leaderboard</a></li>
</ul>
<div id="qna" class="clr left">
    <h3> Question <span class="right">ask a question<a href="#" class="question plus">+</a></span></h3>
    <div id="question">
        <h4>Would you rather ... ?</h4>
        Tags: <a href="#">Plant Types</a>, <a href="#">Locations</a>
        <div id="question_summ">
            <p>There is logic to both sides of an equation.</p>
            <p>P iff ~~ P iff ~~~~P iff ~~~~~~P. ~PvP iff ~(P^~P) iff (P iff P).</p>
        </div>
        <span class="gray">Posted on September 20, 2011 | <a href="#">Flag question</a> | <a href="#">Share question</a></span>
    </div>
    <h3>Answers</h3>
    <div id="answers">
        <div id="comments" class="left">
            <form class="left" id="add_comment">
                <textarea id="answer_text" placeholder="what do you think?"></textarea>
                <input type="submit" class="right green" value="Submit">
            </form>
            <p class="gray left clr-lft">Filters:</p>
            <a href="#" class="filters current">Recent</a>
            <a href="#" class="filters">Top Rated</a>
            <a href="#" class="filters">Friends</a>
            <ul id="featuredComments" class="left">
                <li>
                    <span><img src="img/Monster_icon_25x25.jpg" /> <a href="profile.html">Monster</a> says ...</span>
                    <br />
                    <p>
                        Magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
                    </p>
                    <div class="gray comment_data left">
                        <p class="time">Posted 15 minutes ago</p>
                        <p>
                            <a href="#" class="gray flag">Flag comment</a>
                            <a href="#" class="gray reply">Reply</a>
                        </p>
                        <p class="thumbs up">
                            <span class="dark-text"> 14 </span>
                            <a href="#">thumbs up</a>
                        </p><!-- thumbs up -->
                        <p class="thumbs down">
                            <span class="dark-text"> 7 </span>
                            <a href="#">thumbs down</a>
                        </p><!-- thumbs down -->
                    </div><!-- comment_data -->
                    <div class="flag content left">
                        <form action="" class="left wide">
                            <span class="dark-text">Please explain why you are flagging this content:</span>
                            <br />
                            <textarea name="flag" class="content_feedback"></textarea>
                            <button type="submit" class="green">Submit</button>
                        </form>
                    </div><!-- flag_content -->
                    <div class="reply content left">
                        <form action="">
                            <textarea name="reply" class="content_feedback"></textarea>
                            <button type="submit" class="green">Submit</button>
                        </form>
                    </div>
                </li>
                <li>
                    <span><img src="img/Monster_icon_25x25.jpg" /> <a href="profile.html">Monster</a> says ...</span>
                    <br />
                    <p>
                        Dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui
                    </p>
                    <div class="gray comment_data left">
                        <p class="time">Posted 15 minutes ago</p>
                        <p>
                            <a href="#" class="gray flag">Flag comment</a>
                            <a href="#" class="gray reply">Reply</a>
                        </p>
                        <p class="thumbs up">
                            <span class="dark-text"> 14 </span>
                            <a href="#">thumbs up</a>
                        </p><!-- thumbs up -->
                        <p class="thumbs down">
                            <span class="dark-text"> 7 </span>
                            <a href="#">thumbs down</a>
                        </p><!-- thumbs down -->
                    </div><!-- comment_data -->
                    <div class="flag content left">
                        <form action="" class="left wide">
                            <span class="dark-text">Please explain why you are flagging this content:</span>
                            <br />
                            <textarea name="flag" class="content_feedback"></textarea>
                            <button type="submit" class="green">Submit</button>
                        </form>
                    </div><!-- flag_content -->
                    <div class="reply content left">
                        <form action="">
                            <textarea name="reply" class="content_feedback"></textarea>
                            <button type="submit" class="green">Submit</button>
                        </form>
                    </div><!-- reply content -->
                
                    <div class="comment_reply left clr">
                        <span><img src="img/Monster_icon_25x25.jpg" /> <a href="profile.html">Monster</a> says ...</span>
                        <br />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut laboreAliqua ut enim ad minim veniam
                        </p>
                        <div class="gray comment_data left">
                            <p class="time">Posted 15 minutes ago</p>
                            <p>
                                <a href="#" class="gray flag">Flag comment</a>
                                <a href="#" class="gray reply">Reply</a>
                            </p>
                            <p class="thumbs up">
                                <span class="dark-text"> 14 </span>
                                <a href="#">thumbs up</a>
                            </p><!-- thumbs up -->
                            <p class="thumbs down">
                                <span class="dark-text"> 7 </span>
                                <a href="#">thumbs down</a>
                            </p><!-- thumbs down -->
                        </div><!-- comment_data -->
                        <div class="flag content left">
                            <form action="" class="left wide">
                                <span class="dark-text">Please explain why you are flagging this content:</span>
                                <br />
                                <textarea name="flag" class="content_feedback"></textarea>
                                <button type="submit" class="green">Submit</button>
                            </form>
                        </div><!-- flag_content -->
                        <div class="reply content left">
                            <form action="">
                                <textarea name="reply" class="content_feedback"></textarea>
                                <button type="submit" class="green">Submit</button>
                            </form>
                        </div><!-- reply content -->
                    </div><!-- comment_reply -->
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="questions" class="left">
    <h3>Questions</h3>
    <div>
        <p class="gray left clr-lft">Filters:</p>
        <a href="#" class="filters current">Recent</a>
        <a href="#" class="filters">Top Rated</a>
        <br><br>
        <span class="gray">Topics:</span>
        <a href="#">topic 1,</a>
        <a href="#">topic 2,</a>
        <a href="#">topic 3,</a>
        <a href="#">topic 4,</a>
        <a href="#">topic 5</a>
    </div>
    <ul>
        <li>
            <a href="#">How much water comes from rain?</a>
            <br>
            <span class="gray">posted by <a href="#">user name</a> 18 minutes ago</span>
            <br>
            <span class="gray">3 responses</span>
        </li>
        <li>
            <a href="#">How much water comes from water bottles?</a>
            <br>
            <span class="gray">posted by <a href="#">user name</a> 7 minutes ago</span>
            <br>
            <span class="gray">2 responses</span>
        </li>
        <li>
            <a href="#">How much water from other water?</a>
            <br>
            <span class="gray">posted by <a href="#">user name</a> 18 minutes ago</span>
            <br>
            <span class="gray">128 responses</span>
        </li>
    </ul>
</div>

<%def name = 'extraHTML()'>

</%def>

<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="/styles/comments.css" />
    <link type="text/css" rel="stylesheet" href="/styles/discussion.css" />
</%def>

<%def name = 'extraScripts()'>
    <script src="/js/comment.js" type="text/javascript"></script>
</%def>