<%inherit file = "/base/template.html"/>
##<%namespace file="/lib/mako_lib.mako" import="navBar" />

<div class="container-fluid">
    <div class="row-fluid">
        <div class="banner_div">
            <h2 class="banner" style="line-height:13px;"><a href = "/workshop/${c.w['urlCode']}/${c.w['url']}" style="color: #86945A;">${c.w['title']}</a></h2>
        </div>
    </div>

    <div class="row-fluid">
        <p></p>
        ##${navBar('discussion')}
    </div>
    
    <div class="row-fluid">
        <div class="span8">
            <h3 style="font-size: 0.9em; color: #B9B9B9; padding: 5px 5px 5px 10px; text-align:center;">TOPICS</h3>
            <br />
            % if len(c.discussions) == 0:
                <div class="row-fluid" style="color:red;"> There doesn't appear to be anything here! </div>
            % else:
                % for d in c.discussions:
                    <div class="row-fluid">
                        <div class="span2">
                            ## padding:25px 50px 75px 100px;  top, right, bottom, left
                            ##<div class="arrow up login-required" onclick="$(this).vote('<$>votehash</$>', null, event)" ></div>
                            <p></p>
                            <p style = "margin-bottom:0px; text-align:center;"><i class="icon-chevron-up"></i></p>
                            <p style = "margin-bottom:0px; margin:auto; width:100%; text-align:center;">${d['score']}</p>
                            <p style = "margin-bottom:0px; text-align:center;"><i class="icon-chevron-down"></i></p>
                        </div>
                        <div class="span10">
                            <p style = "margin-bottom:0px;"><a href = "#" style="color: #86945A; font-weight:bold;">${d['title']}</a></p>
                            <p style = "margin-bottom:0px;">Posted some time ago by some jerkface.</p>
                            <p style = "margin-bottom:0px;">Other jerkfaces thought to comment over ${d['numComments']} times!</p>
                        </div>
                    </div>
                % endfor
            % endif
            
        </div>
        <div class="span4">
            <div class="row-fluid">
                <h3 style="font-size: 0.9em; color: #B9B9B9; padding: 5px 5px 5px 0px; text-align:center;">ADD TOPIC</h3>
                <br />
                <p>
                    <div style="padding-left:68px;">
                        <form action = "/workshop/${c.w['urlCode']}/${c.w['url']}/addDiscussion">
                            <button class="btn btn-large" type="submit" value="submit" style="color:#86945A;">Add a new topic</button>
                        </form>
                    </div>
                </p>
            </div>
            <div class="row-fluid">
                <h3 style="font-size: 0.9em; color: #B9B9B9; padding: 5px 5px 5px 0px; text-align:center;">MOTD</h3>
                <br />
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                     classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin 
                     professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
                     consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical 
                     literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of 
                     "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book
                      is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem 
                      Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
            </div>
        </div>
    </div>
</div>

<%def name = 'extraHTML()'>

</%def>

<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/styles/discussion.css" />
    <style type = "text/css">
        #navlist li
        {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    </style>
</%def>

<%def name = 'extraScripts()'>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/h2banner.js" type="text/javascript"></script>
    <script src="/js/col.js" type="text/javascript"></script>
</%def>