<%inherit file = "/base/template.html"/>

    <div id="head">
    	<link type="text/css" rel="stylesheet" href="/styles/inettuts.css" />
        <h1>${c.title}</h1>
    </div>
    
    <p>Move around the slides into the order you desire.  Edit slide titles and captions as you see fit.  Please note that the first image will be the face of your issue.</p>
	<a href = '/workshop/${c.w["urlCode"]}/${c.w["url"]}'><strong>Return to workshop</strong></a>
    <div id="columns">
        
        <ul id="column1" class="column">
            <% counter = 0 %>
            % for slide in c.slideshow:
                <li class="widget color-${c.colors[counter]}" id = "${slide.id}">  
                    <div class="widget-head">
                        <h3>${slide['title']}</h3>
                    </div>
                    <div class="widget-content">
                    ##<div class="basic_1 star-rating" data="0_${c.i.id}_${c.s.id}_0"></div> 
                        <p>${slide['caption']}</p>
                        % if slide['pictureHash'] == 'supDawg':
                            <img src = "/images/slide/slideshow/supDawg.slideshow" style="width:300px; height: 200px;">
                        % else:
                            <img src = "/images/slide/${slide['directoryNumber']}/slideshow/${slide['pictureHash']}.slideshow" style="width:300px; height: 200px;">
                        % endif
                    </div>
                </li>
                <% counter += 1 %>
            % endfor
        </ul>
    </div>
    ##<script src="/js/jquery-1.2.6.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-personalized-1.6rc2.min.js" type="text/javascript"></script>
    <script src="/js/inettuts.js" type="text/javascript"></script>
</body>
</html>



<%def name = 'extraHTML()'>

</%def>

<%def name = 'extraStyles()'>
	<%doc>
    <link type="text/css" rel="stylesheet" href="/styles/issue_create.css" />
    <link type="text/css" rel="stylesheet" href="/js/markitup/skins/simple/style.css" />
    <link type="text/css" rel="stylesheet" href="/js/markitup/sets/rst/style.css" />
    <link type="text/css" rel="stylesheet" href="/css/pygments/pygments-tango.css" />
    <link type="text/css" rel="stylesheet" href="/styles/inettuts.css" />
    </%doc>
</%def>

<%def name = 'extraScripts()'>
    
    <%doc>
    <script src = "/js/markitup/jquery.markitup.js" type="text/javascript"></script>
    <script src = "/js/markitup/sets/rst/set.js" type="text/javascript"></script>
    <script src = "/js/javascript.js" type="text/javascript"></script>
    
    <script language="javascript">
        $(document).ready(function()    {
            $(".markitup").markItUp(mySettings);
        });
    </script>
    </%doc>
</%def>