<%inherit file = "/base/template.html"/>

<div id="slide" class="left">
		<h3>Santa Cruz and Soquel Water Planning</h3>
		<div id="img">
			<img src="/images/mountain.jpg" />
			<p>
				<a href="#" class="slide"><img src="/images/slideshow.png" class="left" width="40" height="40" style="padding-right:10px;" /></a>
				<strong>Slideshow</strong> | <strong>Issue Background</strong>
				<br />
				Description goes here.
			</p>
		</div><!-- img -->
		<ul class="left gray">
			<li><a href="/issue/home"><strong class="darkgray">Issue Home</strong></a></li>
			<li><a href="/issue/background">Background</a></li>
			<li><a href="#">Discussion</a></li>
			<li><a href="#">Leaderboard</a></li>
		</ul>
	</div> <!-- slide -->
	<div id="glance" class="right">
		<h3 class="darkgray">at-a-glance</h3>
		<hr />
		<div>
			<h4>Government Sphere: <img src="poop" class="right" alt="government sphere" /></h4>
			
			<h4>Goals:</h4>
			<ol>
				<li>Create a zero-net-growth water plan for things</li>
				<li>second liste item</li>
			</ol>
			
			<h4>Democratic Phase: Suggestions (1 of 3)</h4>
			<span class="time">2 weeks remaining in stage</span>
			<br />
			<span>Suggestions submitted: -1</span>
			
			<h4>Participants: 01,189,998,819,991,197,25, 3</h4>
			<ul>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<li><img src="/images/Monster_icon_25x25.jpg" alt="monster" /></li>
				<button class="green">Invite</button>
			</ul><br /><br />
			
			<h4>Solution Fund: <span id="fund" class="darkorange">$3.50</span></h4>
			
			<form>
				<span>$ <input type="text" title="Contribute" value="0.15" /> <button type="submit" title="Contribute">Contribute</button></span>
			</form>
		</div>
	</div><!-- glance -->
</div>
<div id="cols">
	<div class="col one left">
		<h3>news <span class="right">add photo, article or video <button type="button" class="media">+</button></span></h3>
		<ul>
			
			<li class="post">
				<span class="colhd"><a href="#">Plan B: Alternatives to Desal</a></span>
				<br />
				<p class="clr">
					 <img src="/images/Monster_icon_25x25.jpg" height="40" width="40" style="float: left;" /> This is some text that goes here and does stuff fillupspace.
					 <span class="right"><a href="#">more</a></span>
				</p>
				<div class="clr">
					<span class="gray">posted by <a href="#">Jamie Treadwell</a></span> <span class="time">18 minutes ago</span>
				</div>
			</li>
			
			<li class="video">
				<span class="colhd"><a href="#">VIDEO: I alskdjasdjklasdslap you! I slap you! I slap, slap, slap you!</a></span>
				<embed type="application/x-shockwave-flash" width="200" height="150" src="http://www.youtube.com/v/iCgjQD1kvrc?version=3&amp;hl=en_US" allowscriptaccess="always" allowfullscreen="true">
				<div class="clr">
					<span class="gray">posted by</span> <a href="#">South Park</a> <span class="time">8 hours ago</span>
				</div>
			</li>
			
			<li class="photo">
				<span class="colhd"><a href="#">PHOTO: Of something doing something</a></span>
				<img src="/images/waterpark.jpg" height="150" width="200" />
				<ul>
					<li><img src="/images/Monster_icon_25x25.jpg" /></li>
					<li><img src="/images/Monster_icon_25x25.jpg" /></li>
					<li><img src="/images/Monster_icon_25x25.jpg" /></li>
					<li><img src="/images/Monster_icon_25x25.jpg" /></li>
					<p class="right"><a href="#" class="slide">slideshow</a></p>
				</ul>
				<div class="clr">
					<span class="gray">posted by</span> <a href="#">photographer</a> <span class="time">8 hours ago</span>
				</div>
			</li>
			
		</ul>
	</div><!-- .col one -->
	<div class="col two left">
		<h3>suggestions <span class="right">add a suggestion <button type="button" class="suggestion">+</button></span></h3>
		<ul>
			<li class="sugg">
				<span class="colhd"><a href="#">Cistern Mandates</a></span>
				<br />
				Issue: <a href="#">Santa Cruz Water Shorage</a>
				<br />
				Author: <a href="#">Manu Koenig</a>
				<p>
					Here goes text here goes text here goes text here goes text here goes text here goes text here goes text here goes text here goes text here goes text here goes text here
				</p>
				<br />
				<span class="gray">Posted on 18 August 2011 | <a href="#">9 comments</a> | <a href="#">Leave a comment</a></span>
			</li>
		</ul>
	</div><!-- .col two -->
	<div class="col three left">
		<h3 id="survey">survey</h3>
		<div>
			<button class="green">Take the Survey</button>
			<p>
				Doctors say I'm the illest, 'cause I'm sufferin' from realness.
				<br />
				<span class="right"><a href="#">more</a></span>
			</p>
		</div>
		<br />
		<h3>standings</h3>
		<h4>people</h4>
		<ol>
			<li><a href="#">Kanye West</a><span class="right">893 rn</span></li>
			<li><a href="#">Manu Koenig</a><span class="right">628 rn</span></li>
			<li><a href="#">Edolfo</a><span class="right">314 rn</span></li>
			<li><a href="#">Evante</a><span class="right">271 rn</span></li>
			<li><a href="#">Timmy</a><span class="right">timm-eh! rn</span></li>
		</ol>
		<hr />
		<h4>suggestions</h4>
		<ol>
			<li><a href="#">Cistern Mandates</a><p>1,588 votes (65%)</p></li>
			<li><a href="#">Expanded rebates system</a><p>433 votes (15%)</p></li>
			<li><a href="#">Charge tourists more</a><p>275 votes (8%)</p></li>
			<li><a href="#">Save the fish</a><p>123 votes(4%)</p></li>
			<span class="right"><a href="#">leaderboard</a></span>
		</ol>
		<br />
		<h3>topics</h3>
		<ul>
			<li>
				<a href="#">The Effect of a Water Shortage on the Santa Cruz Economy</a>
				<br />
				10,855 participants
				<br />
				14 subtopics
			</li>
			<li>
				<a href="#">The Effect of a Water Shortage on the Santa Cruz Economy</a>
				<br />
				10,855 participants
				<br />
				14 subtopics
			</li>
			<li>
				<a href="#">The Effect of a Water Shortage on the Santa Cruz Economy</a>
				<br />
				10,855 participants
				<br />
				14 subtopics
			</li>
			<span class="right"><a href="#">all topics</a><span>
		</ul>
		<br />
		<hr />
		<ul>
			<li><img src="/images/icon.jpg" width="20" /> <a href="#">Invite to greenocracy</a></li>
			<li><img src="/images/icon.jpg" width="20" /> <a href="#">Suggest an issue</a></li>
			<li><img src="/images/icon.jpg" width="20" /> <a href="#">Share this page</a></li>
			<li>
				<form method="get" action="issuehome.html">
					<img src="/images/icon.jpg" width="20" class="left"/>
					<input type="text" value="search...">
				</form>
			</li>
		</ul>
	</div><!-- .col three -->

<%def name = 'extraStyles()'>
	<link type="text/css" rel="stylesheet" href = "${h.url_for('/styles/slideshow.css')}" />
	<link type="text/css" rel="stylesheet" href = "${h.url_for('/styles/columns.css')}" />
	<link type="text/css" rel="stylesheet" href = "${h.url_for('/styles/glance.css')}" />
</%def>

<%def name = 'extraScripts()'>
	<script src = "${h.url_for('/js/col.js')}" type="text/javascript"></script>
    <script src = "${h.url_for('/js/slides.js')}" type="text/javascript"></script>
</%def>

<%def name = 'extraHTML()'>
<div id="pop">
	<div id="show">
		<h2 class="clr left">
			<p class="right close">close <button>X</button></p>
			<p class="slidetitle right">Santa Cruz and Soquel Water Planning</p>
			<p class="right">Slideshow</p>
		</h2>
		<div id="photo_container" class="left">
			<img src="/images/avatars/flash.png" />
			<p>
				<strong>This is the title</strong>
				</br />
				Some stuff happened.
			</p>
		</div><!-- photo_container -->
	</div><!-- show -->
	
	<div id="suggestion">
		<h2 class="clr left">
			<p class="right close">close <button>X</button></p>
			<p class="left">Add a Suggestion</p>
		</h2>
		<form class="left" id="suggestiondata">
			<div id="suggestionform" class="left">
				Title:
				<br />
				<input type="text" id="suggestiontitle" />
				<br />
				<br />
				Description:
				<br />
				<textarea id="suggestiontext"></textarea>
				<br />
				<br />
				Tags:
				<br />
				<input type="text" id="suggestiontags" />
				<br />
				<span class="gray"><em>Popular tags in this issue: water, conservation, government</em></span>
			</div>
			<div id="suggestionshare" class="left">
				Also share on:
				<ul>
					<li><input type="checkbox" /> Facebook</li>
					<li><input type="checkbox" /> Twitter</li>
				</ul>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div><!-- suggestion -->
</div><!-- pop -->
</%def>