<%inherit file = "/base/template.html"/>
<%!
    from pylowiki.lib.db.flag import checkFlagged
    from pylowiki.lib.db.event import getParentEvents
    from pylowiki.lib.db.user import getUserByID
    from pylowiki.lib.db.comment import getFlaggedDiscussionComments
    from pylowiki.lib.db.article import getArticlesByWorkshopID, getArticleByID
%>  

    <div class="banner_div">
        <h2 class="banner"><a href = "/workshop/${c.w['urlCode']}/${c.w['url']}">${c.title}</a></h2>
    </div>     
    <br /><br />
    <br /><br />

<form name="admin_issue" id="admin_issue" class="left" action = "/workshop/${c.w['urlCode']}/${c.w['url']}/adminWorkshopHandler" enctype="multipart/form-data" method="post" >

    <p>
    <strong class="gray">Administrate Workshop</strong>
    <br /><br />
    Message to Participants:
    <br />
    <textarea name="motd" rows="5" cols="50">${c.motd['data']}</textarea>
    <br /><br />
    % if c.motd['enabled'] == '1':
       <% pChecked = 'checked' %>
       <% uChecked = '' %>
    % else:
       <% pChecked = '' %>
       <% uChecked = 'checked' %>
    % endif
    <input type=radio name="enableMOTD" value="1" ${pChecked}> Publish&nbsp;&nbsp;&nbsp;<input type=radio name="enableMOTD" value="0" ${uChecked}> Unpublish
    <br /><br />
    <br /><br />
    % if c.w['deleted'] == '1':
       Enable Workshop
       <% eAction = 'Enable' %>
    % else:
       Disable Workshop
       <% eAction = 'Disable' %>
    % endif
    <br />
    Note: <input type=text name=eventReason id=eventReason>
    <br />
    <input type=radio name="enableWorkshop" value="1"> ${eAction}&nbsp;&nbsp;&nbsp;<input type=radio name="verifyEnableWorkshop" value="0"> Verify ${eAction}
    <br /><br />
    <br /><br />
    <button type="submit" class="gold">Save Changes</button>

    <br /><br />
    <br /><br />
    <strong class="gray">Facilitators</strong>
    <br /><br />
    % for f in c.f:
       <% fUser = getUserByID(f.owner) %>
       <% fEvents = getParentEvents(f) %>
       <% fPending = "" %>
       % if f['pending'] == '1':
          <% fPending = "(Pending)" %>
       % endif
       <a href="/profile/${fUser['urlCode']}/${fUser['url']}">${fUser['name']}</a> ${fPending}<br />
       % if fEvents:
          % for fE in fEvents:
          &nbsp; &nbsp; &nbsp; <strong>${fE.date} ${fE['title']}</strong>  ${fE['data']}<br />
          % endfor
       % endif
    % endfor
    % for f in c.df:
       <% fUser = getUserByID(f.owner) %>
       <% fEvents = getParentEvents(f) %>
       <a href="/profile/${fUser['urlCode']}/${fUser['url']}">${fUser['name']}</a> (Disabled)<br />
       % if fEvents:
          % for fE in fEvents:
          &nbsp; &nbsp; &nbsp; <strong>${fE.date} ${fE['title']}</strong>  ${fE['data']}<br />
          % endfor
       % endif
    % endfor
    <br /><br />
    <strong class="gray">Flagged Objects</strong>
    <br /><br />
    <strong>Resources and Comments:</strong>
    <br />
    % if c.r:
       % for r in c.r:
          <% a = getArticleByID(r.id) %>
          % if checkFlagged(a): 
             Resource: <a href="/workshop/${c.w['urlCode']}/${c.w['url']}/resource/${a['urlCode']}/${a['url']}">${a['title']}</a><br />
          % endif
          <% cList = getFlaggedDiscussionComments(a['discussion_id']) %>
          % for comment in cList:
             <% cFlagCount = len(cList) %>
             % if cFlagCount > 1:
                <% cString = 'comments' %> 
             % else:
                <% cString = 'comment' %> 
             % endif
             ${cFlagCount} ${cString} in <a href="/workshop/${c.w['urlCode']}/${c.w['url']}/resource/${a['urlCode']}/${a['url']}">${a["title"]}</a><br />
          % endfor
       % endfor
    % endif
    <br /><br />
    <strong>Suggestions and Comments:</strong>
    <br />
    % for s in c.s:
       % if checkFlagged(s): 
          Suggestion: <a href="/workshop/${c.w['urlCode']}/${c.w['url']}/suggestion/${s['urlCode']}/${s['url']}">${s["title"]}</a><br />
       % endif
       <% cList = getFlaggedDiscussionComments(s['discussion_id']) %>
       % if cList:
          <% cFlagCount = len(cList) %>
          % if cFlagCount > 1:
             <% cString = 'comments' %> 
          % else:
             <% cString = 'comment' %> 
          % endif
          ${cFlagCount} ${cString} in <a href="/workshop/${c.w['urlCode']}/${c.w['url']}/suggestion/${s['urlCode']}/${s['url']}">${s["title"]}</a><br />
       % endif
    % endfor

    <br /><br />
    <br /><br />
    <strong class="gray">Disabled Objects</strong>
    <br /><br />
    <strong>Resources and Comments:</strong>
    <br />
    % if c.r:
       % for r in c.r:
          % if 'disabled' in r and r['disabled'] == '1':
             Resource: <a href="/workshop/${c.w['urlCode']}/${c.w['url']}/resource/${r['urlCode']}/${r['url']}">${r['title']}</a><br />
          % endif
       % endfor
    % endif
    <br /><br />
    <strong>Suggestions and Comments:</strong>
    <br />
    % if c.s:
       % for s in c.s:
          % if 'disabled' in s and s['disabled'] == '1':
             Suggestion: <a href="/workshop/${c.w['urlCode']}/${c.w['url']}/suggestion/${s['urlCode']}/${s['url']}">${s["title"]}</a><br />
          % endif
       % endfor
    % endif
</form>

            
<%def name = 'extraHTML()'>

</%def>
            
<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="${h.url_for('/styles/issue_create.css')}" />
    <link type="text/css" rel="stylesheet" href="${h.url_for('/js/markitup/skins/simple/style.css')}" />
    <link type="text/css" rel="stylesheet" href="${h.url_for('/js/markitup/sets/rst/style.css')}" />
    <link type="text/css" rel="stylesheet" href="${h.url_for('/css/pygments/pygments-tango.css')}" />
</%def>

<%def name = 'extraScripts()'>
    <script src="${h.url_for('/js/h2banner.js')}" type="text/javascript"></script>
    <script src = "${h.url_for('/js/markitup/jquery.markitup.js')}" type="text/javascript"></script>
    <script src = "${h.url_for('/js/markitup/sets/rst/set.js')}" type="text/javascript"></script>
    <script src = "${h.url_for('/js/javascript.js')}" type="text/javascript"></script>
    
    <script language="javascript">
        $(document).ready(function()	{
            $(".markitup").markItUp(mySettings);
        });
    </script>
    
</%def>
