<%!
    from pylowiki.lib.db.user import getUserByID
%>

<%inherit file = "/base/template.html"/>
<%namespace file="/derived/commentsCustom.mako" import="comments" />

<div class="left headline banner_div">
   <h2 class="banner"><a href = "/workshop/${c.w['urlCode']}/${c.w['url']}">${c.w['title']}</a></h2>
   <br/>
</div> <!-- left headline -->
<div id="suggestion_main" class="left clr">
   <h3>Workshop Feedback</h3>
   <div class="left clr">
<strong>Workshops</strong> are an online space where 
<strong>Members</strong> residing in the participating 
<strong>Public Sphere </strong> make contributions, as individuals 
working in a community, to accomplish the workshop <strong>Goals</strong>. 
These contributions can take the form of links to information 
<strong>Resources</strong> to help inform the workshop topic, 
<strong>Suggestions</strong> toward accomplishing the goals of the workshop,
or <strong>Comments</strong> offering insights to the information and 
contributions in the workhop. Members also <strong>Rank</strong> the 
contributions of others to give an aggregate community sense of the 
credibility and/or value of the contribution (and hence, the contributor).
<br /> <br /> <br />
Rate this workshop. Use the comments to ask questions of the 
<strong>Facilitator</strong>, make suggestions as to ways to improve 
the workshop, or otherwise chime in on how things are done in this workshop. 
Your facilitator and the team at Civinomics need the feedback to build 
your community.
   % if "user" in session:
     % if c.rating:
        <div class = "gray rating wide">
           <div id="overall_slider" class="ui-slider-container">
	      <div id="${c.w['urlCode']}_${c.w['url']}" class="normal_slider" data1="0_${c.w['urlCode']}_${c.rating['rating']}_overall_true_rateFacilitation" data2="${c.w['url']}"></div>
           </div>
           <script type="text/javascript">
              $(document).ready(function(){
                 $(".normal_slider").jColorSlider();
              });
           </script>
        </div>
     % else:
        <div class = "gray rating wide">
           <div id="overall_slider" class="ui-slider-container">
	      <div id="${c.w['urlCode']}_${c.w['url']}" class="normal_slider" data1="0_${c.w['urlCode']}_0_overall_false_rateFacilitation" data2="${c.w['url']}"></div>
           </div>
           <script type="text/javascript">
              $(document).ready(function(){
                 $(".normal_slider").jColorSlider();
              });
           </script>
         </div>
     % endif
   % endif
   <br />
   <br />
   <br />
</div>
${comments("feedback")}</div>
</div> <!-- suggestion_main -->
<div id="suggestion_side" class="left">
   <h3>About Facilitation</h3>
   The <strong>Facilitator</strong> is the host of the workshop, 
and we as a community appreciate their tending of this work space. They have 
some administrative privileges in this workhop which include the ability
to moderate member contributions which are off topic or violate the
Terms of Use, point to related information in other
workhops, and otherwise facilitate a smooth experience in this space.
   <br />
   <br />
   % if c.facilitators == False  or len(c.facilitators) == 0:
       <h3>No Facilitators!</h3>
       <div>
   % else:
       % if len(c.facilitators) == 1:
          <h3>Your Facilitator</h3>
       % else:
          <h3>Your Facilitators</h3>
       % endif                  
       <div>
       % for facilitator in c.facilitators:
          <% fuser = getUserByID(facilitator.owner)%>
          % if fuser['pictureHash'] == 'flash':
             <a href="/profile/${fuser['urlCode']}/${fuser['url']}"><img src="/images/avatars/flash.profile" style="width:50px;"/> ${fuser['name']}</a><br/>
          % else:
             <a href="/profile/${fuser['urlCode']}/${fuser['url']}"><img src="/images/avatar/${fuser['directoryNumber']}/profile/${fuser['pictureHash']}.profile" style="width:50px;"/> ${fuser['name']}</a><br/>
          % endif
       % endfor
   % endif
   </div>
</div> <!-- suggestion_side -->

<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="/styles/suggestion.css" />
    <link type="text/css" rel="stylesheet" href="/styles/comments.css" />
    <link type="text/css" rel="stylesheet" href="/js/markitup/skins/simple/style.css" />
    <link type="text/css" rel="stylesheet" href="/js/markitup/sets/rst/style.css" />
    <link type="text/css" rel="stylesheet" href="/styles/jquery-ui-1.8.18.custom.css" />
        <link type="text/css" rel="stylesheet" href="/styles/jquerySlider.css" />

	
</%def>

<%def name = 'extraScripts()'>
   <script src="/js/slides.js" type="text/javascript"></script>
   <script src="/js/col.js" type="text/javascript"></script>
   <script src="/js/h2banner.js" type="text/javascript"></script>
   <script src="/js/slides.min.jquery.js" type="text/javascript"></script>
   <script src="/js/jquery.cycle.all.js"></script>
   <script src="/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
   <script src = "/js/jqueryUiSlider.js" type="text/javascript"></script>
   <script src = "/js/comment.js" type="text/javascript"></script>
   <script src = "/js/javascript.js" type="text/javascript"></script>
   <script src = "/js/markitup/jquery.markitup.js" type="text/javascript"></script>
   <script src = "/js/markitup/sets/rst/set.js" type="text/javascript"></script>
   <script src = "/js/jqueryUiButtons.js" type="text/javascript"></script>
</%def>

<%def name = 'extraHTML()'>

</%def>
