<%inherit file = "/base/template.html"/>
        
			<div class="banner_div">
				<h2 class="banner">${c.i.name}</h2>
			</div>
			
			<ul class="left gray clr">
				<li><a href="/issue/${c.i.page.url}">Issue Home</a></li>
				<li><a href="/issue/${c.i.page.url}/background">Background</a></li>
				##<li><a href="#">Discussion</a></li>
				<li><a href="/issue/${c.i.page.url}/leaderboard"><strong class="darkgray">Leaderboard</strong></a></li>
			</ul>
			
			<div class="left clr-lft">
				<div id="stats">
					<h3>Suggestion Stats</h3>
					% if c.i.suggestions == None:
						No suggestions!
					% else:
					<div id="table-wrapper">
						<table class="gray">
							<tr>
								<th>#</th>
								<th>Suggestion</th>
								<th><a href="#">Avg. Rating</a></th>
								<th><a href="#">Total Votes</a></th>
								<th>Author</th>
							</tr>
							<% counter = 1 %>
							% for s in c.i.suggestions:
								<tr>
									<td>${counter}</td>
									<td><a href="/issue/${c.i.page.url}/suggestion/${s.url}">${s.title}</a></td>
									<td>
										% if s.avgRating:
											${s.avgRating}
										% else:
											Unrated!
										% endif
										<%doc>
										<div class="gray rating wide">
											<div class="average clr">
												<ul class="star-rating">
													<li>Average rating.</li>
												</ul>
											</div>
										</div>
										</%doc>
									</td>
									## Not optimized at all, this should be saved in the cached DB and updated by a cron job
									##<% 
									##	events = s.events
									##	unique = []
									##	for e in events:
									##		if e.user_id not in unique:
									##			unique.append(e.user_id)
									##	numParticipants = len(unique)
									##%>
									##<td>${numParticipants}</td>
									<td> ${len(s.ratings)} </td>
									<td><a href="/account/${s.user.name}">${s.user.name}</a></td>
								</tr>
								<% counter += 1 %>
							% endfor
							
							<%doc>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a><span class="right"><img src="/images/checkbox.png" alt="check" /></span></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
												
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a><span class="right"><img src="/images/checkbox.png" alt="check" /></span></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a><span class="right"><img src="/images/checkbox.png" alt="check" /></span></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							<tr>
								<td>1</td>
								<td><a href="issuebg.html">Cistern Mandates</a></td>
								<td>
									<div class="gray rating wide">
										<div class="average clr">
											<ul class="star-rating">
												<li>Average rating.</li>
											</ul>
										</div>
									</div>
								</td>
								<td>4,087</td>
								<td><a href="profile.html">Sarah Ferguson</a></td>
							</tr>
							</%doc>
						</table>
					</div><!-- table-wrapper -->
					% endif
				</div>
				<%doc>
				<div id="leaders" class="left">
					<h3>Leaders</h3>
					<div class="left">
						<div id="overall">
							<h4>Overall Standings</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<p>
								<a href="profile.html">1. Jack Nicholson</a>
								<br />
								<span class="darkorange">1278 points</span>
							</p>
							<ol class="clr gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li class="me"><a href="profile.html">Me</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
								<li><a href="profile.html">Generic Person</a><span class="right">900 pts</span></li>
							</ol>
						</div> <!-- overall -->
						<div id="articles">
							<h4>Articles Read</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<ol class="gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li class="me"><a href="profile.html">Me</a><span class="right">20 pts</span></li>
							</ol>
						</div><!-- articles -->
					</div> <!-- leaders left -->
					<div class="left">
						<div id="comments">
							<h4>Comments</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<ol class="gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li class="me"><a href="profile.html">Me</a><span class="right">20 pts</span></li>
							</ol>
						</div><!-- comments -->
						<div id="wiki">
							<h4>Wiki Additions</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<ol class="gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li class="me"><a href="profile.html">Me</a><span class="right">20 pts</span></li>
							</ol>
						</div><!-- wiki -->
						<div id="recruit">
							<h4>Participants Recruited</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<ol class="gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li class="me"><a href="profile.html">Me</a><span class="right">20 pts</span></li>
							</ol>
						</div><!-- recruit -->
						<div id="votes">
							<h4>Votes Cast</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<ol class="gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li class="me"><a href="profile.html">Me</a><span class="right">20 pts</span></li>
							</ol>
						</div><!-- votes -->
						<div id="author">
							<h4>Solutions Authored</h4>
							<img src="/images/avatar.jpg" alt="avatar" />
							<ol class="gray">
								<li><a href="profile.html">Jack Nicholson</a><span class="right">1278 pts</span></li>
								<li><a href="profile.html">Meryl Streep</a><span class="right">1230 pts</span></li>
								<li><a href="profile.html">Jodie Foster</a><span class="right">1212 pts</span></li>
								<li><a href="profile.html">Dustin Hoffman</a><span class="right">1200 pts</span></li>
								<li><a href="profile.html">Gary Cooper</a><span class="right">1194 pts</span></li>
								<li class="me"><a href="/account/${c.authuser.name}">Me</a><span class="right">20 pts</span></li>
							</ol>
						</div> <!-- author -->
					</div> <!-- leaders right -->
				</div> <!-- leaders -->
			</div> <!-- non-sidebar div -->
			</%doc>
            <div class="left sidebar">
            <%doc>
				<h3>Top funders</h3>
				<ul>
					<li>
						<div class="funder-logo">
							<img src="/images/whole_foods.png" />
						</div>
						Whole Foods Market
						<br />
						<span class="darkorange">$5,000</span>
					</li>
					<li>
						<div class="funder-logo">
							<img src="/images/whole_foods.png" />
						</div>
						Whole YouTube Market
						<br />
						<span class="darkorange">$3,000</span>
					</li>
					<li>
						<div class="funder-logo">
							<img src="/images/whole_foods.png" />
						</div>
						Santa Cruz Skateboards
						<br />
						<span class="darkorange">$3,000</span>
					</li>
					<li>
						<img src="/images/anon.png" class="left" />
						<a href="profile.html">Anonymous</a>
						<br />
						<span class="darkorange">$1,000</span>
					</li>
					<li>
						<img src="/images/anon.png" class="left" />
						<a href="profile.html">Anonymous</a>
						<br />
						<span class="darkorange">$1,000</span>
					</li>
					<li>
						<img src="/images/anon.png" class="left" />
						<a href="profile.html">Anonymous</a>
						<br />
						<span class="darkorange">$1,000</span>
					</li>
					<li>
						<img src="/images/anon.png" class="left" />
						<a href="profile.html">Anonymous</a>
						<br />
						<span class="darkorange">$1,000</span>
					</li>
				</ul>
                </%doc>
				<hr />
                <ul class="invite suggest share">
                    <li><img src="/images/handdove.png" /> <a href="#" class="invite_friends">Invite to greenocracy</a></li>
                    <li><img src="/images/suggest_an_issue.png" /> <a href="#">Suggest an issue</a></li>
                    <li><img src="/images/pen.png" /> <a href="#">Share this page</a></li>
                    <li>
                        <form method="get" action="issuehome.html">
                            <img src="/images/magnifying_glass.png" class="left"/>
                            <input type="text" value="search...">
                        </form>
                    </li>
                </ul>
			</div>
            
			

<%def name = 'extraHTML()'>

</%def>

<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="/styles/leaderboard.css" />
</%def>
    
<%def name = 'extraScripts()'>
    <script src="/js/h2banner.js" type="text/javascript"></script>
</%def>