<%! 
   from pylowiki.lib.db.suggestion import getSuggestionsForWorkshop
   from pylowiki.lib.db.follow import getWorkshopFollowers
   from pylowiki.lib.db.geoInfo import getGeoInfo
   from pylowiki.lib.db.tag import getPublicTagCount, getMemberTagCount
%>
<%inherit file = "/base/template.html"/>
        
			<div id="col-1">
				<div class="blockcontainer">
                                        <h3>Welcome</h3>
					% if c.authuser['pictureHash'] == 'flash':
                      <div class="blockthumb"><a href="/profile/${c.authuser['urlCode']}/${c.authuser['url']}"><img src="/images/avatars/flash.profile" /></a></div>
                    % else:
                      <div class="blockthumb"><a href="/profile/${c.authuser['urlCode']}/${c.authuser['url']}"><img src="/images/avatar/${c.authuser['directoryNumber']}/profile/${c.authuser['pictureHash']}.profile" /></a></div>
                    % endif
					<div><strong><a href="/profile/${c.authuser['urlCode']}/${c.authuser['url']}">${c.authuser['name']}</a></strong>
					<br />
					<a href="/account/edit">Edit My Profile</a>
                                        </div>
				</div>
                                <div>
                                        <h3>Public Spheres</h3>
                                        <% c.geoInfo = getGeoInfo(c.authuser.id) %> 
                               </div>
                               <div class="blockcontainer">
                        <a href="${c.geoInfo[0]['cityURL']}"><img src="${c.geoInfo[0]['cityFlagThumb']}" width="60" />&nbsp;&nbsp;${c.geoInfo[0]['cityTitle']}</a><br>
                        <a href="${c.geoInfo[0]['countyURL']}"><img src="${c.geoInfo[0]['countyFlagThumb']}" width="60" />&nbsp;&nbsp;${c.geoInfo[0]['countyTitle']}</a><br>
                        <a href="${c.geoInfo[0]['stateURL']}"><img src="${c.geoInfo[0]['stateFlagThumb']}" width="60" />&nbsp;&nbsp;${c.geoInfo[0]['stateTitle']}</a><br>
                        <img src="/images/flags/country/united-states/united-states_thumb.gif" width="60" />&nbsp;&nbsp;United States</a><br>
                        <img src="/images/flags/earth_thumb.gif" width="60" />&nbsp;&nbsp;Earth</a><br>
                            </div>
                            <div>
                                 <h3>Show Me...</h3>
                                 <br />
                                 <form class="left" id="searchWorkshops" action="/searchName/" method = "post">
                                 <select name="searchType">
                                 <option>Workshops</option> 
                                 <option>Members</option> 
                                 </select>&nbsp;&nbsp;&nbsp;named<br />
                                 <input type=text name=searchString><br />
                                 <br />
                                 <button type="submit" class="gold">Search</button>
                                 </form>
                            </div>
                                 <br /><br />
                                 <br /><br />
                                 <br />
                            <div>
                                 <h3>Public Tags</h3>
                                 <% pTags = getPublicTagCount() %>
                                 % for pT in pTags.keys():
                                    <% fixedpT = pT.replace(" ", "_") %>
                                 <a href=/searchTags/${fixedpT}/>${pT}</a> : ${pTags[pT]}<br />
                                 % endfor
                            </div>
                            <div>
                                 <h3>Member Tags</h3>
                                 <% mTags = getMemberTagCount() %>
                                 % for mT in mTags.keys():
                                    <% fixedmT = mT.replace(" ", "_") %>
                                 <a href=/searchTags/${fixedmT}/>${mT}</a> : ${mTags[mT]}<br />
                                 % endfor
                            </div>
			</div><!-- col-1 -->
			<div id="col-2">
				<div class="banner_div">
					<h2 class="banner">${c.heading}</h2>
				</div>
                    <ul id="issue_list">
                    % for item in c.paginator:
                       <li>
                       % if item['pictureHash'] == 'flash':
                         <a href="/profile/${item['urlCode']}/${item['url']}"><img src="/images/avatars/flash.profile" style="width:50px;"/> ${item['name']}</a>
                       % else:
                         <div class="blockthumb"><a href="/profile/${item['urlCode']}/${item['url']}"><img src="/images/avatar/${item['directoryNumber']}/profile/${item['pictureHash']}.profile" style="width:50px;"/></a></div><a href="/profile/${item['urlCode']}/${item['url']}"> ${item['name']}</a>
                       % endif
                    % endfor
		</ul>
		</div> <!-- col-2 -->
			<div id="col-3">
				<div>
					<ul class="invite suggest share">
						<li><img src="/images/handdove.png" /> <a href="#" class="invite_friends">Invite to Civinomics</a></li>
						<li><img src="/images/suggest_an_issue.png" /> <a href="#">Suggest a workshop</a></li>
					</ul>
				</div>
			</div> <!-- col-3 -->
    
<div class="blockfullpage">

<% state = True %>

% for p in c.paginator:
    <% state = not state %>
% endfor

<div style="text-align: center"><h4>Total Members: ${c.count} | View ${ c.paginator.pager('~3~') }</h4></div>

</div>
<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="/styles/top_issues.css" />
    <link type="text/css" rel="stylesheet" href="/styles/profile.css" />
</%def>

<%def name = 'extraScripts()'>
    <script src="/js/h2banner.js" type="text/javascript"></script>
</%def>

<%def name = 'extraHTML()'>

</%def>
