<%inherit file = "/base/template.html"/>
<%!
    from pylowiki.lib.db.user import getUserByID
%>

    <div class="banner_div">
        <h2 class="banner"><a href="/workshop/${c.w['urlCode']}/${c.w['url']}/resource/${c.resource['urlCode']}/${c.resource['url']}/">${c.resource['title']}</a></h2>
    </div>     
    <br /><br />
    Added by member <a href="/profile/${c.author['urlCode']}/${c.author['url']}">${c.author['name']}</a> 
    <br /><br />
    Link: ${c.resource['link']}
    <br /><br />
    Text: ${c.resource['comment']}
    <br /><br />
    <p>
    <strong class="gray">Administrate Resource</strong>
    <br /><br />
    <% fString = "Flags" %>
    % if int(c.resource['numFlags']) == 1:
       <% fString = "Flag" %>
    % endif
    <strong>${c.resource['numFlags']} ${fString}:</strong>
    <br /><br />
    % for flag in c.flags:
       <% user = getUserByID(flag.owner) %>
       Flagged ${flag.date} by ${user['name']}<br />
    %endfor

    <br /><br />
    % if c.events:
       <% numEvents = len(c.events) %>
       <% eString = "Events" %>
       % if numEvents == 1:
          <% eString = "Event" %>
       % endif
       <strong>${numEvents} ${eString}:</strong>
       <br /><br />
       % for event in c.events:
          <% user = getUserByID(event.owner) %>
          ${event['title']} ${event.date} by ${user['name']}<br />
          Reason: ${event['data']}
          <br /><br />
       %endfor
    % endif

    <br /><br />
    <p>
    <strong class="gray">Administrate Resource</strong>
    <br /><br />
    <strong>Post Event Note on Resource</strong>
    <form name="note_resource" id="note_resource" class="left" action = "/noteResourceHandler" enctype="multipart/form-data" method="post" >
    <input type=hidden name=workshopCode value="${c.w['urlCode']}">
    <input type=hidden name=workshopURL value="${c.w['url']}">
    <input type=hidden name=resourceCode value="${c.resource['urlCode']}">
    <input type=hidden name=resourceURL value="${c.resource['url']}">
    <br /><br />
    Note: &nbsp;
    <input type=text name=noteResourceText><br /><br />
    <button type="submit" class="gold">Save Note</button>
</form>
    % if c.resource['disabled'] == '0':
         <% aTitle = "Disable Resource" %>  
    % else:
         <% aTitle = "Enable Resource" %>  
    % endif
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
<form name="moderate_resource" id="moderate_resource" class="left" action = "/modResourceHandler" enctype="multipart/form-data" method="post" >
    <strong>${aTitle}</strong>
    <input type=hidden name=workshopCode value="${c.w['urlCode']}">
    <input type=hidden name=workshopURL value="${c.w['url']}">
    <input type=hidden name=resourceCode value="${c.resource['urlCode']}">
    <input type=hidden name=resourceURL value="${c.resource['url']}">
    <br /><br />
    Reason for action: &nbsp;
    <input type=text name=modResourceReason><br /><br />
    Click to verify&nbsp;<input type=radio name=verifyModResource> &nbsp; &nbsp;
    <button type="submit" class="gold">${aTitle}</button>
</form>

            
<%def name = 'extraHTML()'>

</%def>

<%def name = 'extraStyles()'>

</%def>

<%def name = 'extraScripts()'>
    <script src="${h.url_for('/js/h2banner.js')}" type="text/javascript"></script>

</%def>
