<%inherit file = "/base/mainTemplate.html" />
		<div class="signup">
			<p class="centertext">
				<strong>SIGN UP</strong>
			</p>
			<br />
			<br />
			<br />
			##<form action="signup_photo.html">
			    ${h.form(h.url(controller = 'register', action='register_handler'), method='post')}
				<input type="text" placeholder="Email address*" name = "email" id="email" />
				<input type="text" placeholder="Zip code*" name = "zipCode" id="zip" />
				<br />
				<input type="text" placeholder="First name" name = "firstName" id="first" />
				<input type="text" placeholder="Last name" name = "lastName" id="last" />
				<br />
                <input type="password" placeholder="Password" name = "password" id = "password" />
                ##<br />
                <input type="password" placeholder="Password (again)" name = "password2" id = "password2" />
				<br />
				<p class="gray left"><input type="checkbox" class="radio" name = "chkTOS" /><em>I agree to the Terms of Use and Privacy Policy</em></p>
				##<p class="right"><input type="submit" value="NEXT" /><br />cancel</p>
                <p class = "right"><input type = "submit" id = "register" name = "register" value = "NEXT" /> <br /> <!--cancel--></p>
			##</form>
            ${h.end_form()}
		</div><!-- signup -->
