<%!
    from pylowiki.lib.db.user import getUserByID
%>

<%inherit file = "/base/template.html"/>
<%namespace file="/derived/commentsCustom.mako" import="comments" />
        
        	<div class="left headline banner_div">
	        	<h2 class="banner"><a href = "/workshop/${c.w['urlCode']}/${c.w['url']}">${c.w['title']}</a></h2> 
                <br/>
        	</div> <!-- left headline -->
        	<div id="suggestion_main" class="left clr">
        		<h3>Suggestion <span class="right">add a suggestion<a href="#" class="suggestion plus">+</a></span></h3>
        		<div class="left" id="suggestion_info">
					<p class="left">
						<strong class="issue_name"><a href="/workshop/${c.w['urlCode']}/${c.w['url']}/suggestion/${c.s['urlCode']}/${c.s['url']}">${c.s['title']}</a></strong>
						<br />
						Workshop: <a href="/workshop/${c.w['urlCode']}/${c.w['url']}">${c.w['title']}</a>
						<br />
					</p>
					<p class="right">
					    % if c.author['pictureHash'] == 'flash':
                            <a href="/profile/${c.author['urlCode']}/${c.author['url']}"><img src="/images/avatars/flash.profile" alt="avatar" class="right" style="width=50px;}"/></a>
                        % else:
                            <a href="/profile/${c.author['urlCode']}/${c.author['url']}"><img src="/images/avatar/${c.author['directoryNumber']}/thumbnail/${c.author['pictureHash']}.thumbnail" alt="avatar" class="right"/></a>
                        % endif
					    <br />
					    <span class="right">
					        Author: <a href="/profile/${c.author['urlCode']}/${c.author['url']}">${c.author['name']}</a>
				        </span>
				    </p>
		            <p class="clr suggestion_summary"></p>
		            	% if c.authuser.id == c.s.owner or int(c.authuser['accessLevel']) >= 200:
                            ${ h.form( url( controller = "suggestion", action ="handler", id = '%s_%s'%(c.w.id, c.s.id) ), method="put" ) }
                            <table style="width: 100%; padding: 0px; border-spacing: 0px; border: 0px; margin: 0px;"><tr><td>
                            <div id = "section0" ondblclick="toggle('textareadiv0', 'edit0')">${c.content}</div>
                            </td></tr></table>
                            
                            <div style="display:none; text-align:center;" id="textareadiv0">
                            <br />
                            <textarea rows="5" id="textarea0" name="textarea0" onkeyup="previewAjax( 'textarea0', 'section0' )" class="markitup">${c.s['data']}</textarea>
                            <div style="align:right;text-align:right;">
                                Optional remark: <input type="text" id="remark0"  name="remark0" class="text tiny" placeholder="optional remark"/> 

                                ${h.submit('submit', 'Save')}
                                <input type="text" id="sremark"  name="sremark" class="text" />
                            </div>
                        </div>
                        
                        <div style="align:right;text-align:right;"><a href="javascript: toggle('textareadiv0', 'edit0', 'edit')" id="edit0" style="font-size: 12px;">edit</a></div>
                        ${h.end_form()}
                        % else:
                        	${c.content}
                        % endif
					<br />
		            <br />
                    
                    % if "user" in session:
                        % if c.rating:
                            <div class = "gray rating wide">
                                <div id="overall_slider" class="ui-slider-container">
									<div id="${c.s['urlCode']}_${c.s['url']}" class="normal_slider" data1="0_${c.s['urlCode']}_${c.rating['rating']}_overall_true_rateSuggestion" data2="${c.s['url']}"></div>
								</div>
								<script type="text/javascript">
                                	$(document).ready(function(){
                                    	$(".normal_slider").jColorSlider();
                                	});
                                </script>
                                <%doc>
    								<div class="ui-buttons-container">
    									<button id="buttonS" data="${c.s['urlCode']}_${c.s['url']}_helpfulness"></button>
    									<button id="buttonN" data="${c.s['urlCode']}_${c.s['url']}_helpfulness"></button>
    								</div>
    								
    								<script type="text/javascript">
                                    	$(document).ready(function(){
                                        	$("#buttonS").jDownButton();
                                        	$("#buttonN").jUpButton();
                                    	});
                                    </script>
                                </%doc>
                                <%doc>
                                    <br/>
                                    <br/>
                                    <br/>
    								<br/>
    								<div class = "avgRating_${c.s['urlCode']}_${c.s['url']} right">Average rating: ${c.s["ratingAvg_overall"]}</div>
    								<br/>
                                    <div class = "yourRating_${c.s['urlCode']}_${c.s['url']} right">Your rating: ${c.s["rating"]["rating"]} </div>
                                </%doc>
                            </div>
                        % else:
                            <div class = "gray rating wide">
                                <div id="overall_slider" class="ui-slider-container">
									<div id="${c.s['urlCode']}_${c.s['url']}" class="normal_slider" data1="0_${c.s['urlCode']}_0_overall_false_rateSuggestion" data2="${c.s['url']}"></div>
								</div>
                                <script type="text/javascript">
                                	$(document).ready(function(){
                                    	$(".normal_slider").jColorSlider();
                                	});
                                </script>
                                <%doc>
                                    <div class="ui-buttons-container">
    									<button id="buttonS" data="${c.s['urlCode']}_${c.s['url']}_helpfulness"></button>
    									<button id="buttonN" data="${c.s['urlCode']}_${c.s['url']}_helpfulness"></button>
    								</div>
    								<script type="text/javascript">
                                    	$(document).ready(function(){
                                        	$("#buttonS").jDownButton();
                                        	$("#buttonN").jUpButton();
                                    	});
                                    </script>
                                </%doc>
                                <%doc>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <div class = "avgRating_${c.s['urlCode']}_${c.s['url']} right">Average rating: Unrated!</div>
                                    <br/>
                                    <div class = "yourRating_${c.s['urlCode']}_${c.s['url']} right">Your rating: Unrated! </div>
                                    <br/>
                                </%doc>
                            </div>
                        % endif
                    % endif
                </div>
                ${comments("suggestionMain")} </div>
        	</div> <!-- suggestion_main -->
        	
        	<div id="suggestion_side" class="left">
        		<h3>Other Suggestions</h3>
        		<ul id="related_suggestion">
        		    % if len(c.suggestions) == 0:
        		    <li>
        		        No other suggestions!
        		    </li>
        		    % else:
        		      % for suggestion in c.suggestions:
        		          <% author = getUserByID(suggestion.owner)%>
        		          <li>
                              <strong class="issue_name"><a href="/workshop/${c.w['urlCode']}/${c.w['url']}/suggestion/${suggestion['urlCode']}/${suggestion['url']}">${suggestion['title']}</a></strong>
                              <br />
                              <span class="gray">By <a href="/profile/${author['urlCode']}/${author['url']}">${author['name']}</a></span>
                          </li>
        		      % endfor
        		    % endif
        		</ul> <!-- related_suggestion -->
                <ul class="share suggest invite">
                    <li><img src="/images/handdove.png" /> <a href="#">Invite to Civinomics</a></li>
                    <li><img src="/images/suggest_an_issue.png" /> <a href="#">Suggest a workshop</a></li>
                </ul>
        	</div>

<%def name = 'extraHTML()'>
    <div id="pop">
        <div id="suggestion">
            <h2 class="clr left">
                <p class="right close"><a href="#" class="x">X</a>close</p>
                <p class="left">Add a Suggestion</p>
            </h2>
            <form class="left" id="suggestiondata" action="/addSuggestion/${c.w['urlCode']}/${c.w['url']}" method = "post">
                <div id="suggestionform" class="left">
                    Title:
                    <br />
                    <input type="text" id="suggestiontitle" name = "title"/>
                    <br />
                    <br />
                    Description:
                    <br />
                    <textarea id="suggestiontext" name="data" class="markitup"></textarea>
                    <br />
                    <br />
                </div>
                <div id="suggestionshare" class="left">
                    <button type="submit" class="gold">Submit</button>
                </div>
            </form>
        </div><!-- suggestion -->
    </div><!-- pop -->
</%def>

<%def name = 'extraStyles()'>
    <link type="text/css" rel="stylesheet" href="/styles/suggestion.css" />
    <link type="text/css" rel="stylesheet" href="/styles/comments.css" />
    <link type="text/css" rel="stylesheet" href="/js/markitup/skins/simple/style.css" />
    <link type="text/css" rel="stylesheet" href="/js/markitup/sets/rst/style.css" />
    <link type="text/css" rel="stylesheet" href="/styles/jquery-ui-1.8.18.custom.css" />
	<link type="text/css" rel="stylesheet" href="/styles/jquerySlider.css" />
</%def>

<%def name = 'extraScripts()'>
    <script src = "/js/slides.js" type="text/javascript"></script>
    <script src = "/js/comment.js" type="text/javascript"></script>
    ##<script src = "/js/rating.js" type="text/javascript"></script>
    <script src = "/js/h2banner.js" type="text/javascript"></script>
    <script src = "/js/javascript.js" type="text/javascript"></script>
    <script src = "/js/markitup/jquery.markitup.js" type="text/javascript"></script>
    <script src = "/js/markitup/sets/rst/set.js" type="text/javascript"></script>
	<script src = "/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
	<script src = "/js/jqueryUiSlider.js" type="text/javascript"></script>
	<script src = "/js/jqueryUiButtons.js" type="text/javascript"></script>

    <script language="javascript">
        $(document).ready(function()	{
            $(".markitup").markItUp(mySettings);
        });
    </script>
</%def>
