<%!
    from pylowiki.lib.db.user import isAdmin
%>      

<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${c.title}</title>
    <link type="text/css" rel="stylesheet" href = "/styles/global.css" />
    <link type="text/css" rel="stylesheet" href = "/styles/topbar.css" />
    <link type="text/css" rel="stylesheet" href = "/styles/footer.css" />
    <link type="text/css" rel="stylesheet" href = "/styles/page.css" />
    <link type="text/css" rel="stylesheet" href = "/styles/flash.css" />
    <link type="text/css" rel="stylesheet" href = "/styles/grid.css" />
    <link type="text/css" rel="stylesheet" href = "/styles/pop.css" />
    
    ${self.extraStyles()}
    
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type = "text/javascript"></script>
    <script src = "/js/dim.js" type="text/javascript"></script>
    <script src = "/js/renown.js" type="text/javascript"></script>
    
    ${self.extraScripts()}
    
</head>

<body>

## Flasher
<div id = "content" class = "grid_16">
    ${self.flasher()}
</div>

<div id="container">
    <div id="topbar" class="clr">
        <a href = "/">
        <img src = "/images/logo.png" class="left" alt="civinomics logo" />
        </a>
        <div id="nav" class="left">
            <form class="left search_form">
                <input type="hidden" title="Search" placeholder="Search" />
                ##<button type="submit" title="Search">Search</button>
            </form>
            <ul id="navtab" class="left">
                <li title="Home"><a href="/">Home</a></li>
                % if 'user' in session:
                    ##<li title="Inbox"><a href = "#">Inbox</a></li>
                    ##<li title="Profile"><a href = "/profile/${c.authuser['urlCode']}/${c.authuser['url']}">Profile</a></li>
                    ##<li title="Account">
                    <li title="Profile">
                        <a href = "/profile/${c.authuser['urlCode']}/${c.authuser['url']}">Profile</a>
                        <a href="#" id="nav_dropdown_arrow">&#9660;</a>
                        <div id="nav_dropdown" class="group">
                            % if int(c.authuser['accessLevel']) >= 100:
                                ##<a href = "/addWorkshop">Add Workshop</a>
                            % endif
                            % if int(c.authuser['accessLevel']) >= 200:
                                ##<a href = "/moderation">Modding</a>
                            % endif
                            % if isAdmin(int(c.authuser.id)):
                                <a href = "/systemAdmin">Sys Admin</a>
                            % endif
                            <a href = "/profile/edit">Edit Profile</a>
                            <a href="/login/logout">Logout</a>
                        </div>
                    </li>
                    <script type="text/javascript" src="/js/nav_dropdown.js"></script>
                % endif
            </ul><!-- navtab -->
        </div><!-- nav -->
    </div><!-- topbar -->
    <%doc>
    % if 'user' in session:
	<div id="renown">
		<ul class="right">
			<li class="left">
				<p class="point gray left">+2</p>
				<span>You casted a vote</span>
				<br />
				<span class="time">4 minutes ago</span>
			</li>
		</ul>
		<p class="right renown_summary"><a href="#"><span class="gray">${c.authuser['totalPoints']}</span></a></p>
	</div><!-- renown -->
    % endif
    </%doc>
    
    <div id="main" class="clr">
        <div class="left">
            ${next.body()}
        </div>
    </div><!-- main -->
    
    ${self.extraHTML()}
    
    <div id="footer">
        % if "user" in session:
            <a href="/workshops">Workshops</a> | <a href="/profile/${c.authuser['urlCode']}/${c.authuser['url']}">Profile</a>
        % else:
            <a href="/workshops">Workshops</a>
        % endif
        <br />
        <span><a href="/corp/about">About us</a> | <a href="/corp/contact">Contact</a> | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></span>
    </div><!-- footer -->
</div><!-- container -->
</body>

</html>

<%def name="flasher()">
    <% messages = h.flash.pop_messages() %>
    % if messages:
        % for m in messages:
            <p id = "flash" class = "${m.category}" title = "Dismiss this message.">
                    ${m}
            </p>
            <script>
                $("p#flash").fadeIn(800).delay(6000).fadeOut(800);
                $("p#flash").click(function() {
                    $(this).clearQueue();
                    $(this).fadeOut(800);
                });
            </script>
        % endfor
    % endif
</%def>
