<html>
<a href="http://www.civinomics.com"><img src="${c.imageSrc}"></a>
<br />
Hello someone has submitted information about an abusive user here it is...
<br /><br />
<strong>From:</strong> ${c.sender}<br />
The problem is: ${c.problemType}
${c.inviteMessage}<br /><br />
The reporter has already tried to take action through flagging (Y/N): ${c.alreadyFlagged}<br />
The name of the offending user is: ${c.offendingUser}<br />
This problem started approximately: ${c.startTime}
Here is an indepth description of the problem (prepare to cry your eyes out):
${c.problem}<br />
Please add this problem to an issue tracker as soon as possible and reply to:<br /><br />
${c.sender}<br /><br />
confirming that you received this message.<br /><br />
Best regards and keep up the good fight of helping our users.<br /><br />
Civinomics Help Desk
</html>




 












