<html>
<a href="http://www.civinomics.com"><img src="${c.imageSrc}"></a>
<br />
Hello from ${c.sender},
<br /><br />
<strong>You've been invited</strong> by ${c.sender} to participate<br />
in a private online workshop named:<br />
${c.workshopName}<br /><br />
${c.inviteMessage}<br /><br />
Civinomics workshops are online spaces where participants contribute ideas,<br />
information resources and discussion, collaboratingto meet the workshop goals.
<br /><br />
To browse the workshop, use this link:<br />
<a href="${c.browseLink}">${c.browseLink}</a>
<br /><br />
To register at Civinomics and participate in this workshop,
use this link:<br />
<a href="${c.regLink}">${c.regLink}</a>
<br /><br />
Best regards and hope to see you online soon,
<br /><br />
${c.sender}
</html>