<link rel="stylesheet" href="/styles/newsletter.css">

<div class="page-header">
    <div class="logo-div">
        <a href="https://www.civinomics.com">
            <div class="logo logo-lg"></div>
        </a>
    </div>
</div>
<div class="container">

    <div class="row-fluid">
        <div class="lead">New Initiatives for 95060</span>
    </div>
    
    % for i in c.recentActivity:
    
        <div class="well obj-listing">
            <div class="row-fluid">
                <div class="span3">
                    <a href = '#i-href'>
                        <div class="i-photo" style="background-image:url('/images/photos/${i['directoryNum_photos']}/thumbnail/${i['pictureHash_photos']}.png');"></div> 
                    </a>
                </div>
                <div class="span9">
                    <div class="well yesNoWell" >
                        <a href="#i-href">
                            <div class="vote-icon yes-icon"></div>
                        </a>
                        <br>
                        <br>
                        <a href="#i-href">
                            <div class="vote-icon no-icon"></div>
                        </a>
                        <br>
                        <div class="totalVotesWrapper">
                            <small class="grey pull-left">Votes:</small>
                            <strong class="pull-right">
                                <span>{{totalVotes}}</span>
                            </strong>
                        </div>
                    </div>
                    <h4 class="listed-item-title initiative-title"><a ng-href="#i-href">${i['title']}</a></h4>
                    <p><small>
                        <small><img class="thumbnail flag mini-flag border" src="/images/flags/earth.gif"> 
                            <span style="text-transform: capitalize;">Initiative</span> for <a class="green green-hover" href="#scope-href">{{item.scopeName}}</span></a>
                            <span class="label workshop-tag">{{tag}}</span>
                        </small>
                        
                    </small></p>
                    <p>${i['description']}</p>
                    <h4>
                        <small class="grey centered">Estimated Cost:</small>
                        <span class="pull-right">$ ${i['cost']}</span>
                    </h4>
                </div>
            </div>
            <div class="row-fluid">
                <div class="actions">
                    <div class="actions-links">
                        <ul class="horizontal-list iconListing">
                            <li>
                                <% 
                                    if 'numComments' in i:
                                        numComments = i['numComments']
                                    else: 
                                        numComments = 0
                                %>
                                <a class="no-highlight"><i class="icon-comment"></i> Comments (${numComments})</a>
                            </li>
                            <li><i class="icon-eye-open"></i> Views (${i['views']})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    % endfor
    
</div>

