<%namespace name="lib_6" file="/lib/6_lib.mako" />

<body style="margin: 0; font-family: arial, sans-serif;">
    <table style="width: 100%; height: 80px; background-color: #f8f8f8; border-spacing: 0px; border-color: none;">
        <tr style="background-color: #f8f8f8; height: 50px;">
            <td style="width:5%; border-bottom: 1px solid #e7e7e7;"></td>
            <td style="border-bottom: 1px solid #e7e7e7;"><img src="/images/civ_logo_simple.png"></td>
            <td style="width:2%; border-bottom: 1px solid #e7e7e7;"></td>
            <td style="width:86%; border-bottom: 1px solid #e7e7e7;"><strong style="color: #333;">Raimanu Koenig</strong><br><span style="color: #666;">Your Civinomics Weekly Update</span></td>
            <td style="border-bottom: 1px solid #e7e7e7;"><img style="border-radius: 500px; width: 50px;" src="${lib_6._userImageSource(c.authuser)}"></td>
            <td style="width:5%; border-bottom: 1px solid #e7e7e7;"></td>
        </tr>
    </table>
    <table style="width: 100%; height: 100%; background-color: #fff; border-spacing: 0px; border-color: none;">
        <!-- spacer row -->
        <tr style="height: 20px;">
            <td style="width:3%;"></td>
            <td style="width:40px; background-color: "></td>
            <td style="width:2%;"></td>
            <td style="vertical-align: top;"></td>
            <td style="width:40px;"></td>
            <td style="width:3%;"></td>
        </tr>
        <tr>
            <td style="width:3%;"></td>
            <td style="width:40px;"></td>
            <td style="width:2%;"></td>
            <td style="vertical-align: top; height: 100%;">
                <span style="font-size:24px; line-height:28px;font-style:italic;font-family:'Georgia','Helvetica Neue',Helvetica,Arial,sans-serif;color:#777">New Initiatives</span>
                % for i in c.recentInitiatives:
                    <table style="color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; padding-top: 10px;">
                        <tr>
                            <td style="vertical-align: top;">
                                <img style="border-radius: 5px;" src='/images/photos/${i['directoryNum_photos']}/thumbnail/${i['pictureHash_photos']}.png'>
                            </td>
                            <td style="vertical-align: top; padding: 0 10px;">
                                <strong><a style="text-decoration: none; color: #3c51bf;" href="${i['href']}" target="_blank">${i['title']}</a></strong>
                                <br>
                                <span style="font-size:14px;line-height:20px;">Tags: ${i['scopeLevel']} of ${i['scopeName']}, ${i['tags']}</span>
                                <br>
                                <p style="font-size:14px;line-height:20px;">
                                    ${i['description'][:200]}
                                    % if len(i['description']) > 200:
                                        ... <a href="${i['href']}" target="_blank" style="text-decoration: none; color: #3c51bf;">read more</a>
                                    % endif  
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%; margin-top: 8px; margin-bottom: 20px;">
                         <tr style="background-color: #f8f8f8; height: 50px; width: 100%; text-align: center;">
                            <td style="border: 1px solid #e7e7e7;border-radius: 5px; padding: 5px;">
                                <a  href="${i['href']}" target="_blank" style="text-decoration: none; display: inline-block; width: 100px; background-color: #4aca5f; border-radius: 5px; border: 1px solid #e7e7e7; font-size: 16px; color: #fff; padding: 10px;">YES</a>
                                <a  href="${i['href']}" target="_blank" style="text-decoration: none; display: inline-block; width: 100px; background-color: #ff3b30; border-radius: 5px; border: 1px solid #e7e7e7; font-size: 16px; color: #fff; padding: 10px;">NO</a>
                            </td>
                        </tr>
                    </table>
                % endfor
            </td>
            <td style="width:40px;"></td>
            <td style="width:3%;"></td>
        </tr>
    </table> 
    <table style="margin-top: 40px;">
        <tr>
            <td style="width:3%;"></td>
            <td style="width:40px;"></td>
            <td style="width:2%;"></td>
            <td style="vertical-align: top; height: 100%;">
                <span style="font-size:24px;line-height:28px;font-style:italic;font-family:'Georgia','Helvetica Neue',Helvetica,Arial,sans-serif;color:#777">Workshops You're Following</span>
                % for w in c.recentWorkshops:
                    <table style="color:#333333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; border-bottom: 1px solid #e7e7e7; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <tr>
                            <td style="vertical-align: top;">
                                <img style="border-radius: 5px;" src='${w['mainImage']}'>
                            </td>
                            <td style="vertical-align: top; padding: 0 10px;">
                                <strong><a style="text-decoration: none; color: #3c51bf;" href="${w['href']}" target="_blank">${w['title']}</a></strong>
                                <br>
                                <span style="font-size:14px;line-height:20px;">
                                    
                                    Tags: ${w['scopeLevel']} of ${w['scopeName']},
                                        <% 
                                            wTags = []
                                            tags = w['workshop_category_tags'].split('|')
                                            for tag in tags:
                                                if tag != '':
                                                    wTags.append(tag)
                                        %>
                                        % for tag in wTags:
                                            % if tag != wTags[0]:
                                                and                                   
                                            % endif
                                            <span>${tag}</span>
                                        % endfor
                                </span>
                                <br>
                                <table style="font-size:14px;line-height:20px;">
                                    <tr>
                                        <td>Ideas: <a href="#" target="_blank" style="text-decoration: none; color: #3c51bf;">3</a> · Discussions: <a href="#" target="_blank" style="text-decoration: none; color: #3c51bf;">4</a> · Resources: <a href="#" target="_blank" style="text-decoration: none; color: #3c51bf;">5</a> · Comments: <a href="#" target="_blank" style="text-decoration: none; color: #3c51bf;">6</a> · Votes: <a href="#" target="_blank" style="text-decoration: none; color: #3c51bf;">7</a></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Top Idea: </strong><a href="#" target="_blank" style="text-decoration: none; color:#333;">This is the top idea This is the top idea This is the top idea This is the top idea</a></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Top Resource: </strong><a href="#" target="_blank" style="text-decoration: none; color:#333;">This is the top resource</a></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Top Discussion: </strong><a href="#" target="_blank" style="text-decoration: none; color:#333;">This is the top discussion</a></td>
                                    </tr>
                                    
                                </table>
                            </td>
                        </tr>
                    </table>
                % endfor
            </td>
            <td style="width:40px;"></td>
            <td style="width:3%;"></td>
        </tr>
    </table>
</body>

