/** 3-part columns **/

#cols {
    width: 100%;
    float: left;
    border: none !important;
    font-size: .7em;
}

.col>ul, .col>ol, .col>div {
    padding: 10px 15px;
}

.col>ol {
    margin-left: 15px;
}

.col>div>p {
    padding: 5px 0;
}

.colhd {
    font-weight: bold;
    font-size: 1.3em;
}

#cols h3, #cols h4 {
    color: #b9b9b9;
}

#cols h3 {
	font-weight: normal;
	text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    letter-spacing: .4em;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
}

#cols h3>span {
	text-transform: lowercase;
	padding: 0;
	font-weight: normal;
	letter-spacing: 0;
	font-size: .8em;
}

.col h3 button {
	width: 15px;
	height: 20px;
}

#cols h4 {
    text-align: center;
    margin-top: 10px;
}

#cols hr {
    border: none;
    border-bottom: 1px solid #ddd;
}

.one hr, .two hr {
    margin-left: -15px;
    margin-top: 10px;
}

.three {
    width: 200px;
}

.two {
	border-left: 1px solid #b9b9b9;
	border-right: 1px solid #b9b9b9;
}

.three button {
    width: 115px;
    margin: 0 auto;
}

.three li>a+p {
    text-align: center;
}

.col ul li {
    padding-bottom: 10px;
}

.col ul>li>form>input {
    width: 100px;
}
.three ul>li img {
    padding-right: 10px;
}

li.photo ul li {
    float: left;
    padding: 0;
}

li.photo ul p {
    padding-top: 10px;
}

/* first column */

.one {
    width: 250px;
}
