div#container {
    background: url('../img/topbg.png') #e9e9e9;
    background-repeat: repeat-x;
    float: left;
    z-index: 0;
    color: #454545;
}

button.green {
    display: block;
    color: #86945a;
    height: 30px;
}

/*** Main white box square ***/

#main, #footer {
    width: 900px;
    float: left;
    position: relative;
    padding: 25px;
    margin: 0 25px;
}

#main {
    border: 1px solid #eee;
    background: #fff;
}

#main>div {
    width: 100%;
}
